<h4>Edit Schedule</h4>
<%= form_tag "/promotion_groups/#{@promotion_group_id}/promotion_group_schedules/#{@schedule.id}", method: :put do %>

  <%= label_tag :league, "League:" %>
  <%= select_tag :league, options_for_select(["NFL","MLB","NBA","NHL"], @schedule.league) %>
  <br/>
  <br/>
  <%= label_tag :opens_at_date, "Opens at" %>
  <%= date_field_tag :opens_at_date, Time.zone.parse(@schedule.opens_at).strftime("%Y-%m-%d") %> 
  <%= time_field_tag :opens_at_time, Time.zone.parse(@schedule.opens_at).strftime("%H:%M") %> pacific
  <br/>
  <%= label_tag :starts_at_date, "Starts at" %>
  <%= date_field_tag :starts_at_date, Time.zone.parse(@schedule.starts_at).strftime("%Y-%m-%d") %> 
  <%= time_field_tag :starts_at_time, Time.zone.parse(@schedule.starts_at).strftime("%H:%M") %> pacific
  <br/>
  <br/>
  <%= check_box_tag :starts_at_date_tbd, :picked, @schedule.starts_at_date_tbd %>
  <%= label_tag :starts_at_date_tbd, "starts at date tbd" %>
  <%= check_box_tag :starts_at_time_tbd, :picked, @schedule.starts_at_time_tbd %>
  <%= label_tag :starts_at_time_tbd, "starts at time tbd" %>
  <br/>
  <%= check_box_tag :opens_at_date_tbd, :picked, @schedule.opens_at_date_tbd %>
  <%= label_tag :opens_at_date_tbd, "opens at date tbd" %>
  <%= check_box_tag :opens_at_time_tbd, :picked, @schedule.opens_at_time_tbd %>
  <%= label_tag :opens_at_time_tbd, "opens at time tbd" %>


  <br/>

  <br/>
  <%= submit_tag "Submit", id: "submitter" %>
  
<% end %>