<%= form_tag "/users/contests_lookup", method: :get do %>
  <%= label_tag :username, "Lookup by Username" %><br/>

  <br/>
  <%= text_field_tag :username, params[:username] %>
  <%= submit_tag "Search by Username" %>
  <br/>
  <br/>
<%- end %>
<%= form_tag "/users/contests_lookup", method: :get do %>
  <%= label_tag :uuid, "Lookup by UUID" %><br/>

  <br/>
  <%= text_field_tag :uuid, params[:uuid] %>
  <%= submit_tag "Search by UUID" %>
  <br/>
  <br/>
<%- end %>
<%= form_tag "/users/contests_lookup", method: :get do %>
  <%= label_tag :email, "Lookup by Email" %><br/>

  <br/>
  <%= text_field_tag :email, params[:email] %>
  <%= submit_tag "Search by Email" %>
  <br/>
<%- end %>

<%- puts @contest_results.present? %>
<%- puts @contest_results.size %>


<br/>
<br/>
<br/>
<br/>
<%- if @contest_results.present? %>
  <table>
    <tr>
      <td>ID</td>
      <td>Game</td>
      <td>Event Set</td>
      <td>Lock Time</td>
      <td>Entries</td>
      <td>Size</td>
      <td>Buyin</td>
      <td>&nbsp;</td>
    </tr>
  <%- @contest_results.each do |result| %>
    <tr>
      <td><%= result["id"] %></td>
      <td><%= result["game"] %></td>
      <td><%= result["event_set"] %></td>
      <td><%= result["lock_time"] %></td>
      <td><%= result["num_entries"] %></td>
      <td><%= result["size"] %></td>
      <td><%= result["buy_in"] %></td>
      <td><%= link_to "Cancel", disable_user_path(result["id"]), method: :patch, confirm: "Sure?"  %></td>
    </tr>
  <%- end %>
  </table>
  <br/>
<%- else %>
  <p>
  No Results
  </p>
<%- end %>
