<%= form_tag "/users/identity_lookup", method: :get do %>
  <%= label_tag :user_uuid, "User UUID" %><br/>
  <small>
    Provide User UUID and get the goods
  </small><br/>
  
  <br/>
  <br/>
  <%= text_field_tag :user_uuid, params[:user_uuid] %>
  <%= submit_tag "Search" %>
  <br/>
<%- end %>

<br/>
<br/>
<br/>
<br/>
<%- if @identity_information.present? %>
  <table>
    <tr>
      <td>Timestamp</td>
      <td>Successful?</td>
      <td>Full Name</td>
      <td>Birthdate</td>
      <td>Address</td>
      <td>City</td>
      <td>Postal Code</td>
      <td>State Code</td>
      <td>Country Code</td>
      <td>Identity Confidence Score</td>
      <td>Fraud Confidence Score</td>
      <td>Response Code</td>
      <td>Response Message</td>
      <td>Location Detail</td>
      <td>Reason Codes</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><%= @identity_information["created_at"] %></td>
      <td><%= @identity_information["was_successful"] %></td>
      <td><%= @identity_information["request"]["FullName"] %></td>
      <td><%= @identity_information["request"]["DateOfBirth"] %></td>
      <td><%= @identity_information["request"]["AddressLine1"] %></td>
      <td><%= @identity_information["request"]["City"] %></td>
      <td><%= @identity_information["request"]["PostalCode"] %></td>
      <td><%= @identity_information["request"]["StateCode"] %></td>
      <td><%= @identity_information["request"]["CountryCode"] %></td>
      <td><%= @identity_information["response"]["IdentityConfidenceScore"] %></td>
      <td><%= @identity_information["response"]["FraudConfidenceScore"] %></td>
      <td><%= @identity_information["response"]["ResponseCode"] %></td>
      <td><%= @identity_information["response"]["ResponseMessage"] %></td>
      <td><%= @identity_information["response"]["LocationDetail"] %></td>
      <td><%= @identity_information["response"]["ReasonCodes"] %></td>
    </tr>
  </table>
<%- else %>
  <p>
  No Results
  </p>
<%- end %>
