<%= form_tag "/users/identity_lookup", method: :get do %>
  <%= label_tag :user_uuid, "User UUID" %><br/>
  <small>
    Provide User UUID and get the goods
  </small><br/>
  
  <br/>
  <br/>
  <%= text_field_tag :user_uuid, params[:user_uuid] %>
  <%= submit_tag "Search" %>
  <br/>
<%- end %>

<br/>
<br/>
<br/>
<br/>
<%- if @identity_information.present? %>
  <table>
    <tr><td>Timestamp: <%= @identity_information["created_at"] %></td></tr>
    <tr><td>Successful?: <%= @identity_information["was_successful"] %></td></tr>
    <tr><td>Full Name: <%= @identity_information["request"]["FullName"] %></td></tr>
    <tr><td>Birthdate: <%= @identity_information["request"]["DateOfBirth"] %></td></tr>
    <tr><td>Address: <%= @identity_information["request"]["AddressLine1"] %></td></tr>
    <tr><td>City: <%= @identity_information["request"]["City"] %></td></tr>
    <tr><td>Postal Code: <%= @identity_information["request"]["PostalCode"] %></td></tr>
    <tr><td>State Code: <%= @identity_information["request"]["StateCode"] %></td></tr>
    <tr><td>Country Code: <%= @identity_information["request"]["CountryCode"] %></td></tr>
    <tr><td>Identity Confidence Score: <%= @identity_information["response"]["IdentityConfidenceScore"] %></td></tr>
    <tr><td>Fraud Confidence Score: <%= @identity_information["response"]["FraudConfidenceScore"] %></td></tr>
    <tr><td>Response Code: <%= @identity_information["response"]["ResponseCode"] %></td></tr>
    <tr><td>Response Message: <%= @identity_information["response"]["ResponseMessage"] %></td></tr>
    <tr><td>Location Detail: <%= @identity_information["response"]["LocationDetail"] %></td></tr>
    <tr><td>Reason Codes: <%= @identity_information["response"]["ReasonCodes"] %></td></tr>
    <tr><td>&nbsp;</td></tr>
  </table>
<%- else %>
  <p>
  No Results
  </p>
<%- end %>
