
  <strong>Creator</strong><br/>
  <%= hidden_field_tag :user_id, "" %>
  <%= label_tag :username, "Username" %>


<%- if @promotion_target.persisted? %>
  <span style="color: #BBB"><%= @promotion_target.username %></span>
  <%= hidden_field_tag :username, @promotion_target.username %>
<%- else %>
  <%= text_field_tag :username, @promotion_target.username, onchange: "user_lookup();" %>
<%- end %>
  <span id="username-output"></span>
  <br/>
  <br/>






<%- if @promotion_target.persisted? %>

  <strong><%= @promotion_target.contest_type %> Settings</strong><br/>
  
  
  <%= label_tag :game_id, "Game" %>
  <span style="color: #BBB"><%= @promotion_target.contest_template.game.name %></span>
  <%= hidden_field_tag :game_id, @promotion_target.contest_template.game.id %>
  <br/>
  <%= label_tag :contest_template_id, "Contest Template" %>
  <span style="color: #BBB"><%= "#{@promotion_target.contest_template.event_set.description} - #{@promotion_target.contest_template.buy_in["label"]} - #{@promotion_target.contest_template.size["label"]} - #{@promotion_target.contest_template.is_publicly_joinable ? "Public" : "Private"}" %></span>
  <%= hidden_field_tag :contest_template_id, @promotion_target.contest_template.id %>
  <br/>
  <%= hidden_field_tag :entry_id, @promotion_target.entry.id %>
  <%= hidden_field_tag :event_set_id, @promotion_target.contest_template.event_set.id %>


  <%- if @promotion_target.max %>
    <%= label_tag :max, "Max Challengers" %>
  
    <%= number_field_tag :max, @promotion_target.max, min: 2, size: "4", onchange: "validate();" %>
    <span id="max-output"></span>
    <br/>
  <%- end %>
<%- else %>

  <strong>Contest/Challenge Settings</strong><br/>


  <%= label_tag :game_id, "Game" %>
  <%= select_tag :game_id, options_for_select(@games, @promotion_target.contest_template.game.id), onchange: "game_changed();" %>
  <span id="game-output"></span>
  <br/>
<div id="contest_config">

  <%= radio_button_tag :c_or_c, :challenge, @promotion_target.contest_type == "Challenge", onchange: "c_or_c_changed();" %>
  <%= label_tag :c_or_c_challenge, "Challenge" %>
  &nbsp;
  <%= radio_button_tag :c_or_c, :contest, @promotion_target.contest_type == "Contest", onchange: "c_or_c_changed();" %>
  <%= label_tag :c_or_c_contest, "Contest" %>


  <br/>
  <%= label_tag :max, "Max Challengers" %>
  <%= number_field_tag :max, @promotion_target.max, min: 2, size: "4", onchange: "validate();" %>
  <span id="max-output"></span>
  <br/>

  <%= label_tag :event_set_id, "Event Set" %>
  <%= select_tag :event_set_id, "", onchange: "event_set_changed();" %>
  <span id="es-output"></span>
  <br/>


  <%= label_tag :size, "Contest Size" %>
  <%= number_field_tag :size, @promotion_target.contest_template.size["value"], min: 2, onchange: "validate();update_prize_end_places();" %>
  <span id="size-output"></span>
  <br/>


  <%= label_tag :buy_in, "Buy In" %>
  $<%= number_field_tag :buy_in, @promotion_target.contest_template.buy_in["value"].to_i / 100, min: 0, onchange: "validate();" %>
  <span id="buy-in-output"></span>
  <br/>

  <%= check_box_tag :is_publicly_joinable, :picked, @promotion_target.contest_template.is_publicly_joinable, onchange: "validate();" %>
  <%= label_tag :is_publicly_joinable, "Publicly Joinable" %>
  <span id="publicly-joinable-output"></span>





</div>
<%- end %>


  <br/>

  <div id="prize-table" style="display:none;">
    <strong>Prizes</strong><br/>
    <div id="prize-rows">

<%- if @promotion_target.contest_template.prize_table.blank? %>
      <div class="prize-row">
        Start Place
        <%= number_field_tag "prize_table[start_place][]", 1, min: 1, onchange: "update_prize_end_places();" %>
        &nbsp;
        End Place
        <%= number_field_tag "prize_table[end_place][]", 1, min: 1, onchange: "update_prize_end_places();" %>
        &nbsp;
        <%= select_tag "prize_table[prize_type][]", options_for_select(["Balance","Ticket","Other"],"Balance"), onchange: "prize_type_changed(this);" %>
        &nbsp;
        Value
        <span class="dollar-prize-value">$<%= number_field_tag "prize_table[prize_num_value][]", 1, min: 1, size: "3" %></span>
        <span class="text-prize-value" style="display:none;"><%= text_field_tag "prize_table[prize_txt_value][]", "" %></span>
        &nbsp;
        Icon Hash
        <%= text_area_tag "prize_table[icon][]", '{ "css_class": "", "unicode": "", "url": "" }' %>
        &nbsp;
        <span class="delete-prize" style="display:none;"><a href="javascript:void(0)" onclick="delete_prize(this);">delete</a></span>
      </div>
<%- else %>
  <%- @promotion_target.contest_template.prize_table.each do |prize_row| %>
    <%- prize_row["prizes"].each do |prize| %>
      <%- if prize["type"].present?
            prize_type = prize["type"]
            value = prize["value"]
          else
            if (prize["label"] =~ /\$\d* Ticket/).present?
              prize_type = "Ticket"
              value = prize["label"].delete("$Ticket").strip
            elsif prize["value"].present?
              prize_type = "Balance"
              value = prize["value"]
            else
              prize_type = "Other"
              value = prize["label"]
            end 
          end
      %>

    
      <div class="prize-row">
        Start Place
        <%= number_field_tag "prize_table[start_place][]", prize_row["start_place"], min: 1, onchange: "update_prize_end_places();" %>
        &nbsp;
        End Place
        <%= number_field_tag "prize_table[end_place][]", prize_row["end_place"], min: 1, onchange: "update_prize_end_places();" %>
        &nbsp;
        <%= select_tag "prize_table[prize_type][]", options_for_select(["Balance","Ticket","Other"],prize_type), onchange: "prize_type_changed(this);" %>
        &nbsp;
        Value
        <%- if prize_type == "Other" %>
          <span class="dollar-prize-value">$<%= number_field_tag "prize_table[prize_num_value][]", 1, min: 1, size: "3" %></span>
          <span class="text-prize-value" style="display:none;"><%= text_field_tag "prize_table[prize_txt_value][]", value.to_s %></span>
        <%- else %>
          <span class="dollar-prize-value">$<%= number_field_tag "prize_table[prize_num_value][]", value.to_i, min: 1, size: "3" %></span>
          <span class="text-prize-value" style="display:none;"><%= text_field_tag "prize_table[prize_txt_value][]", "" %></span>
        <%- end %>
        &nbsp;
        Icon Hash
        <%= text_area_tag "prize_table[icon][]", prize["icon"] %>
        &nbsp;
        <span class="delete-prize" style="display:none;"><a href="javascript:void(0)" onclick="delete_prize(this);">delete</a></span>
      </div>
    <%- end %>
  <%- end %>
<%- end %>



    </div>


    <span class="add-prize"><a href="javascript:void(0)" onclick="add_prize();">add</a></span>
  </div>



  <%= label_tag :entry_item, "", id: "entry_item_label", style: "display: none;" %>
  <%= select_tag :entry_item, "", onchange: "validate();", name: "entry_item[]", style: "display: none;" %>
  <br/>
  <div id="entries-sub-form"></div><br/>
  <span id="entries-output"></span>

  <strong>Promo Basics</strong><br/>
  <%= label_tag :promo_name, "Displayed Name" %>
  <%= text_field_tag :promo_name, @promotion_target.promotion.name, onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_identifier, "Identifier" %>

<%- if @promotion_target.persisted? %>
  <span style="color: #BBB"><%= @promotion_target.promotion.identifier %></span>
  <%= hidden_field_tag :promo_identifier, @promotion_target.promotion.identifier %>
<%- else %>
  <%= text_field_tag :promo_identifier, @promotion_target.promotion.identifier, onchange: "promo_identifier_changed();" %>
<%- end %>
  <span id="identifier-output"></span>
  <br/>
  
  <%= label_tag :promotion_group_id, "Promotion Group" %>
  <%= select_tag :promotion_group_id, options_for_select(@promotion_groups, @promotion_target.promotion.promotion_group_id), onchange: "validate();" %>
  <span id="pg-output"></span>
  <br/>
  


  <%= label_tag :promo_description, "Description" %>
  <%= text_area_tag :promo_description, @promotion_target.promotion.description, onchange: "validate();" %>
  <br/>

  <br/>
  <strong>Promo Visuals</strong><br/>
  <%= label_tag :promo_display_type, "Display Type" %>
  <%= text_field_tag :promo_display_type, @promotion_target.promotion.display_type, onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_logo_css_class, "Logo Css" %>
  <%= text_field_tag :promo_logo_css_class, @promotion_target.promotion.name_logo["css_class"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_logo_unicode, "Logo Unicode" %>
  <%= text_field_tag :promo_logo_unicode, @promotion_target.promotion.name_logo["unicode"], onchange: "validate();" %>
  <br/>

  <br/>
  <strong>Promo Mobile Images</strong><br/>
  <%= label_tag :promo_mobile_background, "Background" %>
  <%= text_field_tag :promo_mobile_background, @promotion_target.promotion.images["mobile"]["background"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_mobile_banner, "Banner" %>
  <%= text_field_tag :promo_mobile_banner, @promotion_target.promotion.images["mobile"]["banner"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_mobile_badge, "Badge" %>
  <%= text_field_tag :promo_mobile_badge, @promotion_target.promotion.images["mobile"]["badge"], onchange: "validate();" %>
  <br/>

  <br/>
  <strong>Promo Tablet Images</strong><br/>
  <%= label_tag :promo_tablet_background, "Background" %>
  <%= text_field_tag :promo_tablet_background, @promotion_target.promotion.images["tablet"]["background"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_tablet_banner, "Banner" %>
  <%= text_field_tag :promo_tablet_banner, @promotion_target.promotion.images["tablet"]["banner"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_tablet_badge, "Badge" %>
  <%= text_field_tag :promo_tablet_badge, @promotion_target.promotion.images["tablet"]["badge"], onchange: "validate();" %>
  <br/>

  <br/>
  <strong>Promo Desktop Images</strong><br/>
  <%= label_tag :promo_desktop_background, "Background" %>
  <%= text_field_tag :promo_desktop_background, @promotion_target.promotion.images["desktop"]["background"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_desktop_banner, "Banner" %>
  <%= text_field_tag :promo_desktop_banner, @promotion_target.promotion.images["desktop"]["banner"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_desktop_badge, "Badge" %>
  <%= text_field_tag :promo_desktop_badge, @promotion_target.promotion.images["desktop"]["badge"], onchange: "validate();" %>
  <br/>

  <br/>
  <strong>Emails</strong><br/>
<br/>

  <%- 
    default_header_image_url = "di3648ok8zows.cloudfront.net/public-images/emails/DailyMVP-Logo.png"
    default_header_color_code = "0161c5"
    default_header_target_url = "www.dailymvp.com"
  %>

  <em>Welcome Email</em><br/>
  <%= check_box_tag :email_contest_joined_layout_configurable, :picked, @promotion_target.promotion.emails.fetch("contest_joined", {}).fetch("layout", "configurable") == "configurable", onchange: "validate();" %>
  <%= label_tag :email_contest_joined_layout_configurable, "Use Configurable Layout" %>
  <br/>
  <%= label_tag :email_contest_joined_layout, "Layout" %>
  <%= text_field_tag :email_contest_joined_layout, @promotion_target.promotion.emails.fetch("contest_joined", {}).fetch("layout", "configurable"), onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_joined_subject, "Subject" %>
  <%= text_field_tag :email_contest_joined_subject, @promotion_target.promotion.emails.fetch("contest_joined", {}).fetch("subject", {}), onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_joined_header_image_url, "Header Image URL" %>
  <small>http://</small><%= text_field_tag :email_contest_joined_header_image_url, @promotion_target.promotion.emails.fetch("contest_joined", {}).fetch("header", {})["image_url"] || default_header_image_url, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_joined_header_color_code, "Header Color Hex" %>
  <small>#</small><%= text_field_tag :email_contest_joined_header_color_code, @promotion_target.promotion.emails.fetch("contest_joined", {}).fetch("header", {})["color_code"] || default_header_color_code, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_joined_header_target_url, "Header Link Target URL" %>
  <small>http://</small><%= text_field_tag :email_contest_joined_header_target_url, @promotion_target.promotion.emails.fetch("contest_joined", {}).fetch("header", {})["target_url"] || default_header_target_url, onchange: "validate();" %>
  <br/><br/>
  <%= label_tag :email_contest_joined_body, "Body" %>
  <%= text_area_tag :email_contest_joined_body, @promotion_target.promotion.emails.fetch("contest_joined", {}).fetch("body", {}), onchange: "validate();" %>
  <br/><br/>

  <em>Contest (Win) Email</em><br/>
  <%= check_box_tag :email_contest_win_layout_configurable, :picked, @promotion_target.promotion.emails.fetch("contest_win", {}).fetch("layout", "configurable") == "configurable", onchange: "validate();" %>
  <%= label_tag :email_contest_win_layout_configurable, "Use Configurable Layout" %>
  <br/>
  <%= label_tag :email_contest_win_layout, "Layout" %>
  <%= text_field_tag :email_contest_win_layout, @promotion_target.promotion.emails.fetch("contest_win", {}).fetch("layout", "configurable"), onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_win_subject, "Subject" %>
  <%= text_field_tag :email_contest_win_subject, @promotion_target.promotion.emails.fetch("contest_win", {}).fetch("subject", {}), onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_win_header_image_url, "Header Image URL" %>
  <small>http://</small><%= text_field_tag :email_contest_win_header_image_url, @promotion_target.promotion.emails.fetch("contest_win", {}).fetch("header", {})["image_url"] || default_header_image_url, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_win_header_color_code, "Header Color Hex" %>
  <small>#</small><%= text_field_tag :email_contest_win_header_color_code, @promotion_target.promotion.emails.fetch("contest_win", {}).fetch("header", {})["color_code"] || default_header_color_code, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_win_header_target_url, "Header Link Target URL" %>
  <small>http://</small><%= text_field_tag :email_contest_win_header_target_url, @promotion_target.promotion.emails.fetch("contest_win", {}).fetch("header", {})["target_url"] || default_header_target_url, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_win_body_pre, "Body (Intro)" %>
  <%= text_area_tag :email_contest_win_body_pre, @promotion_target.promotion.emails.fetch("contest_win", {}).fetch("body", {})["pre"], onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_win_body_post, "Body (Conclusion)" %>
  <%= text_area_tag :email_contest_win_body_post, @promotion_target.promotion.emails.fetch("contest_win", {}).fetch("body", {})["post"], onchange: "validate();" %>
  <br/><br/>

  <em>Contest (Loss) Email</em><br/>  
  <%= check_box_tag :email_contest_loss_layout_configurable, :picked, @promotion_target.promotion.emails.fetch("contest_loss", {}).fetch("layout", "configurable") == "configurable", onchange: "validate();" %>
  <%= label_tag :email_contest_loss_layout_configurable, "Use Configurable Layout" %>
  <br/>
  <%= label_tag :email_contest_loss_layout, "Layout" %>
  <%= text_field_tag :email_contest_loss_layout, @promotion_target.promotion.emails.fetch("contest_loss", {}).fetch("layout", "configurable"), onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_loss_subject, "Subject" %>
  <%= text_field_tag :email_contest_loss_subject, @promotion_target.promotion.emails.fetch("contest_loss", {}).fetch("subject", {}), onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_loss_header_image_url, "Header Image URL" %>
  <small>http://</small><%= text_field_tag :email_contest_loss_header_image_url, @promotion_target.promotion.emails.fetch("contest_loss", {}).fetch("header", {})["image_url"] || default_header_image_url, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_loss_header_color_code, "Header Color Hex" %>
  <small>#</small><%= text_field_tag :email_contest_loss_header_color_code, @promotion_target.promotion.emails.fetch("contest_loss", {}).fetch("header", {})["color_code"] || default_header_color_code, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_loss_header_target_url, "Header Link Target URL" %>
  <small>http://</small><%= text_field_tag :email_contest_loss_header_target_url, @promotion_target.promotion.emails.fetch("contest_loss", {}).fetch("header", {})["target_url"] || default_header_target_url, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_loss_body_pre, "Body (Intro)" %>
  <%= text_area_tag :email_contest_loss_body_pre, @promotion_target.promotion.emails.fetch("contest_loss", {}).fetch("body", {})["pre"], onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_loss_body_post, "Body (Conclusion)" %>
  <%= text_area_tag :email_contest_loss_body_post, @promotion_target.promotion.emails.fetch("contest_loss", {}).fetch("body", {})["post"], onchange: "validate();" %>
  <br/><br/>

  <em>Contest (Tie) Email</em><br/>  
  <%= check_box_tag :email_contest_tie_layout_configurable, :picked, @promotion_target.promotion.emails.fetch("contest_tie", {}).fetch("layout", "configurable") == "configurable", onchange: "validate();" %>
  <%= label_tag :email_contest_tie_layout_configurable, "Use Configurable Layout" %>
  <br/>
  <%= label_tag :email_contest_tie_layout, "Layout" %>
  <%= text_field_tag :email_contest_tie_layout, @promotion_target.promotion.emails.fetch("contest_tie", {}).fetch("layout", "configurable"), onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_tie_subject, "Subject" %>
  <%= text_field_tag :email_contest_tie_subject, @promotion_target.promotion.emails.fetch("contest_tie", {}).fetch("subject", {}), onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_tie_header_image_url, "Header Image URL" %>
  <small>http://</small><%= text_field_tag :email_contest_tie_header_image_url, @promotion_target.promotion.emails.fetch("contest_tie", {}).fetch("header", {})["image_url"] || default_header_image_url, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_tie_header_color_code, "Header Color Hex" %>
  <small>#</small><%= text_field_tag :email_contest_tie_header_color_code, @promotion_target.promotion.emails.fetch("contest_tie", {}).fetch("header", {})["color_code"] || default_header_color_code, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_tie_header_target_url, "Header Link Target URL" %>
  <small>http://</small><%= text_field_tag :email_contest_tie_header_target_url, @promotion_target.promotion.emails.fetch("contest_tie", {}).fetch("header", {})["target_url"] || default_header_target_url, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_tie_body_pre, "Body (Intro)" %>
  <%= text_area_tag :email_contest_tie_body_pre, @promotion_target.promotion.emails.fetch("contest_tie", {}).fetch("body", {})["pre"], onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_tie_body_post, "Body (Conclusion)" %>
  <%= text_area_tag :email_contest_tie_body_post, @promotion_target.promotion.emails.fetch("contest_tie", {}).fetch("body", {})["post"], onchange: "validate();" %>
  <br/>
  <br/>

  <%= submit_tag "Submit", id: "submitter" %>

<script type="text/javascript">
  var balance;
  var buy_in;
  var unique_identifier; 
  $(document).ready(function() {
    initialize();
    validate();
  });

  function initialize() {
    document.getElementById('submitter').setAttribute("disabled", "disabled");
    //document.getElementById('contest_template_id').setAttribute("disabled", "disabled");
    balance = 0;
  <%- if @promotion_target.persisted? %>
    buy_in = <%= @promotion_target.contest_template.buy_in["value"] %>;

  <%- else %>
    $("[for=game_id]").hide();
    $("#game_id").hide();
  <%- end %>
    unique_identifier = true;
  

    user_lookup();


    if($("#game_id").val() != "" && $("#game_id").val() != null) {
      game_changed();
    }
    c_or_c_changed();
    init_prizes();
  }

  function validate() {
    valid = true;
    // gotta have promo name
    if($("#promo_name").val() != "") {
      $("[for=promo_name]").css("color", "black");
    } else {
      valid = false;
      $("[for=promo_name]").css("color", "red");
    }

    // entriesss
    entry_count = $("[id^=entry_item_drop]").length;
    unique_entry_count = $.unique($.map($("[id^=entry_item_drop_]"), function( i ) { return $(i).val(); })).length;
    valid_entries = (entry_count > 0 && entry_count == unique_entry_count);

    if(valid_entries) {
      $("#entries-output").empty();
      $("[id^=entry_item_label_").css("color", "black");
    } else {
      valid = false;
      if(entry_count != unique_entry_count) {
        $("#entries-output").css("color", "red");
        $("#entries-output").text("Duplicate entry item selection detected!");
        $("#entries-output").append("<br/><br/>");
      }
      $("[id^=entry_item_label_]").css("color", "red");
    }

    // max it out
    if($("#max").val() >= 1) {

      var working_buy_in;
      if(buy_in != null && buy_in != "") {
        working_buy_in = buy_in;
      } else {
        working_buy_in = $("#buy_in").val();
      }
      if($("#max").val() * (working_buy_in * 100) > balance) { 
        $("[for=max]").css("color", "red");
        $("#max-output").css("color", "red");
        valid = false;
        $("#max-output").text("Total Buy In: $" + ($("#max").val() * working_buy_in).toFixed(2) + " - this is over budget");

      } else {
        $("[for=max]").css("color", "black");
        $("#max-output").css("color", "black");
        if(working_buy_in != null && working_buy_in != "") {
          $("#max-output").text("Total Buy In: $" + ($("#max").val() * working_buy_in).toFixed(2));
        }
      }
    } else {

  <%- if !@promotion_target.persisted? %>
      if($("input[name=c_or_c]:checked").val() == "challenge") {
        valid = false;
        $("[for=max]").css("color", "red");
      }
  <%- elsif @promotion_target.contest_type == "Contest" %>
      // valid = false;
      // $("[for=max]").css("color", "red");
  <%- end %>
    }


    // size

    if($("#promotion_group_id").val() != "" && $("#promotion_group_id").val() != null) {
      $("[for=promotion_group_id]").css("color", "black");
    } else {
      valid = false
      $("[for=promotion_group_id]").css("color", "red");
    }



  <%- if !@promotion_target.persisted? %>

    // gots a user
    if($("#user_id").val() != "") {
      $("[for=username]").css("color", "black");

      $("[for=game_id]").show();
      $("#game_id").show();
    } else {
      valid = false;
      $("[for=username]").css("color", "red");
    }
    // show promo identifier some love
    $("#identifier-output").text("");
    if($("#promo_identifier").val() != "") {
      if(unique_identifier) {
        $("[for=promo_identifier]").css("color", "black");
      } else {
        $("#identifier-output").text("not unique!");
        $("[for=promo_identifier]").css("color", "red");
        valid = false;
      } 
    } else {
      valid = false;
      $("[for=promo_identifier]").css("color", "red");
    }

    // game it
    if($("#game_id").val() != "") {
      $("[for=game_id]").css("color", "black");
      $("#contest_config").show();
    } else {
      valid = false;
      $("[for=game_id]").css("color", "red");
      $("#contest_config").hide();
    }

    // EVENT SET
    if($("#event_set_id").val() != "") {
      $("[for=event_set_id]").css("color", "black");
    } else {
      valid = false;
      $("[for=event_set_id]").css("color", "red");
    }


    // template it
    // if($("#contest_template_id").val() != "" && $("#contest_template_id").val() != null) {
    //   $("[for=contest_template_id]").css("color", "black");
    // } else {
    //   valid = false;
    //   $("[for=contest_template_id]").css("color", "red");
    // }
    
  <%- end %>

    //email layouts
    if($("#email_contest_joined_layout_configurable").prop("checked")) {
      $("#email_contest_joined_layout").val("configurable");
      $("#email_contest_joined_layout").prop("readonly", true);
      $("[id^=email_contest_joined_header").prop( "readonly", false);
    } else {
      $("#email_contest_joined_layout").prop("readonly", false);
      $("[id^=email_contest_joined_header").prop( "readonly", true);
    }

    if($("#email_contest_win_layout_configurable").prop("checked")) {
      $("#email_contest_win_layout").val("configurable");
      $("#email_contest_win_layout").prop("readonly", true);
      $("[id^=email_contest_win_header").prop( "readonly", false);
    } else {
      $("#email_contest_win_layout").prop("readonly", false);
      $("[id^=email_contest_win_header").prop( "readonly", true);
    }

    if($("#email_contest_loss_layout_configurable").prop("checked")) {
      $("#email_contest_loss_layout").val("configurable");
      $("#email_contest_loss_layout").prop("readonly", true);
      $("[id^=email_contest_loss_header").prop( "readonly", false);
    } else {
      $("#email_contest_loss_layout").prop("readonly", false);
      $("[id^=email_contest_loss_header").prop( "readonly", true);
    }

    if($("#email_contest_tie_layout_configurable").prop("checked")) {
      $("#email_contest_tie_layout").val("configurable");
      $("#email_contest_tie_layout").prop("readonly", true);
      $("[id^=email_contest_tie_header").prop( "readonly", false);
    } else {
      $("#email_contest_tie_layout").prop("readonly", false);
      $("[id^=email_contest_tie_header").prop( "readonly", true);
    }

    // are we valid?
    update_submit(valid);
  }

  function update_submit(valid) {
    if(valid) {
      document.getElementById('submitter').removeAttribute("disabled");
    } else {
      document.getElementById('submitter').setAttribute("disabled", "disabled");
    }
  }

  function user_lookup() {
    $.getJSON( "/rapi_users/search?username=" + $("#username").val(), function(data) {
      if (data.username == undefined) {
        balance = 0;
        $("#user_id").val("");
        $("#username-output").text("User not found.");
      } else { 
        balance = data.balance;
        $("#user_id").val(data.id);
        $("#username-output").text("User found: " + data.username + " // Balance: $" + (data.balance / 100).toFixed(2));
      }
      validate();
    });
  }

<%- if !@promotion_target.persisted? %>
  function promo_identifier_changed() {
    if($("#promo_identifier").val() != "") {
      $.getJSON( "/promotions/identifier_check?identifier=" + $("#promo_identifier").val(), function(data) {
        if (data.exists) {
          unique_identifier = false;
        } else {
          unique_identifier = true;
        }
        validate();
      });
    } else {
      validate(); 
    }
  }
<%- end %>


  function c_or_c_changed() {
    if($("input[name=c_or_c]:checked").val() == "challenge") {
      // set max stuff
      document.getElementById('max').setAttribute("min", 2);
      document.getElementById('max').setAttribute("max", null);
      document.getElementById('size').setAttribute("max", 2);
      if($("#max").val() < 2) {
        $("#max").val(2);  
      }
      // set size stuff
      $("#size").val(2);
    } else if($("input[name=c_or_c]:checked").val() == "contest") {
      // set max stuff
      document.getElementById('max').setAttribute("min", 1);
      document.getElementById('max').setAttribute("max", 1);
      document.getElementById('size').setAttribute("max", null);
      $("#max").val(1);
      // set size stuff
    }
    $("#max-output").empty();
    validate();
  }


  function game_changed() {
    $("#entries-sub-form").empty();

<%- if !@promotion_target.persisted? %>
    if($("#game_id").val() != "") {

      $('#event_set_id').empty();
      document.getElementById('event_set_id').setAttribute("disabled", "disabled");
   
      $.getJSON( "/games/" + $("#game_id").val() + "/event_sets.json", function(data) {
        if (data.length == 0) {
          $("#game-output").text("No open event sets for this game.");
        } else {
          $("#game-output").text("");

          $('#event_set_id').append("<option value=\"\"></option>");
          $.each(data, function(index, option) {
            $('#event_set_id').append("<option value=\"" + option[0] + "\">" + option[1] + "</option>");
          });

          document.getElementById('event_set_id').removeAttribute("disabled");
          $("#event_set_id").val(<%= @promotion_target.contest_template.event_set.id %>);
          event_set_changed();
        }
        validate();
        reveal_prize_section();

      });
    }
<%- else %>
  event_set_changed();
<%- end %>
  }

  function event_set_changed() {
<%- if @promotion_target.entry.entry_items.present? %>
    entry_selections = {
  <%= @promotion_target.entry.entry_items.collect { |item| "#{item.slot_id}: #{item.event_participant_id}" }.join(",") %>
    }
<%- end %>
    // todo validate balance yo
    // $("[id^='entry_item_label_']").remove();
    // $("[id^='entry_item_drop_']").remove();
    
    $("#entries-sub-form").empty();
    $("#entries-output").empty();
  
    // update entry items
    if($("#event_set_id").val() != "") {
      update_submit(false);
      //loading stuff UI

<%- if !@promotion_target.persisted? %>      
      document.getElementById('game_id').setAttribute("disabled", "disabled");
      document.getElementById('event_set_id').setAttribute("disabled", "disabled");
      document.getElementById('submitter').setAttribute("disabled", "disabled");
<%- end %>
      $("#entries-output").text("Loading entry items...");
      $("#entries-output").append("<br/><br/>");
      $("#entries-output").css("color", "blue");




      $.getJSON( "/games/" + $("#game_id").val() + "/event_sets/" + $("#event_set_id").val() + "/event_participants.json", function(data) {
        if (data.length == 0) {
          $("#ct-output").text("No event participants are available for this contest template.");
        } else {
          $("#ct-output").text("");
          $.each(data, function(index, slot) {

            var drop = $("#entry_item").clone();
            var label = $("#entry_item_label").clone();
            drop.attr("id", "entry_item_drop_" + index);
            label.attr("id", "entry_item_label_" + index);
            label.attr("for", "entry_item_drop_" + index);
            label.append(slot.display_name);

            $.each(slot.event_participants, function(index, event_participant) {
              drop.append("<option value=\"" + event_participant[1] + "\">" + event_participant[0] + "</option>");
            });

            $("#entries-sub-form").append(label);
            $("#entries-sub-form").append(drop);
            $("#entries-sub-form").append("<br/>");
            label.show();
            drop.show();

  <%- if @promotion_target.entry.entry_items.present? %>
            drop.val(entry_selections[index+1]);
  <%- end %>
            //$('#contest_template_id').append("<option value=\"" + option[1] + "\">" + option[0] + "</option>");
          });

        }
      }).always(function() {

<%- if !@promotion_target.persisted? %>
        document.getElementById('event_set_id').removeAttribute("disabled");
        document.getElementById('game_id').removeAttribute("disabled");
<%- end %>
        $("#entries-output").empty();

        validate();
      });
    }
  }

  function update_client_app() {
    $.ajax({
      url: '/client_apps',
      type: 'PUT',
      data: "client_app=" + $("#client_app").val(),
      success: function(data) {
        update_ui_for_client_app();
        user_lookup();
      }
    });
  }







// *****************************************************************************
// *****************************************************************************
// PRIZES
// *****************************************************************************
// *****************************************************************************

  function init_prizes() {

    // hide/show initially
<%- if !@promotion_target.persisted? %> 
    $("#prize-table").hide();
<%- else %>
    $("#prize-table").show();
<%- end %> 


    // prize types
    $("select[id=prize_table_prize_type_]").each(function() { 
      prize_type_changed(this);
    });

    // hide/show delete buttons
    cleanup_prize_add_delete();

    // min/maxes
    update_prize_end_places();


  }

  function prize_type_changed(element) {
    if($(element).val() == "Other") {
      $(element).siblings(".text-prize-value").show();
      $(element).siblings(".dollar-prize-value").hide();
    } else {
      $(element).siblings(".text-prize-value").hide();
      $(element).siblings(".dollar-prize-value").show();
    }
  }

  function add_prize() {
    $(".prize-row").last().clone().appendTo($("#prize-rows"));
    cleanup_prize_add_delete();
  }

  function delete_prize(element) {
    $(element).parent().parent().remove();
    cleanup_prize_add_delete();
  }

  function update_prize_end_places() {
    $("input[id=prize_table_start_place_]").attr("max",$("#size").val());
    $("input[id=prize_table_end_place_]").attr("max",$("#size").val());

    $("input[id=prize_table_start_place_]").each(function() {
      if(parseInt($(this).val()) > parseInt($("#size").val())) {
        $(this).val($("#size").val());
      }
    });
    $("input[id=prize_table_end_place_]").each(function() {
      if(parseInt($(this).val()) > parseInt($("#size").val())) {
        $(this).val($("#size").val());
      }

      min_val = parseInt($(this).siblings().val());
      $(this).attr("min",min_val);
      if(min_val > ($(this).val())) {
        $(this).val(min_val);
      }

    });
  }

  function cleanup_prize_add_delete() {
    if($(".prize-row").size() == 1) {
      $(".delete-prize").hide();
    } else {
      $(".delete-prize").show();
    }
  }

  function reveal_prize_section() {
    update_prize_end_places();    
<%- if !@promotion_target.persisted? %> 
    $("#prize-table").show();
<%- end %> 
  }










</script>

