
  <strong>Creator</strong><br/>
  <%= hidden_field_tag :user_id, "" %>
  <%= label_tag :username, "Username" %>


<%- if @challenge.persisted? %>
  <span style="color: #BBB"><%= @challenge.username %></span>
  <%= hidden_field_tag :username, @challenge.username %>
<%- else %>
  <%= text_field_tag :username, @challenge.username, onchange: "user_lookup();" %>
  <span id="username-output"></span>
<%- end %>
  <br/>
  <br/>




  <strong>Challenge Settings</strong><br/>

  <%= label_tag :max, "Max Challengers" %>
  <%= number_field_tag :max, @challenge.max, min: 2, onchange: "validate();" %>
  <span id="max-output"></span>
  <br/>

<%- if @challenge.persisted? %>
  
  <%= label_tag :game_id, "Game" %>
  <span style="color: #BBB"><%= @challenge.contest_template.game.name %></span>
  <%= hidden_field_tag :game_id, @challenge.contest_template.game.id %>
  <br/>
  <%= label_tag :contest_template_id, "Contest Template" %>
  <span style="color: #BBB"><%= "#{@challenge.contest_template.event_set.description} - #{@challenge.contest_template.buy_in["label"]} - #{@challenge.contest_template.size["label"]}" %></span>
  <%= hidden_field_tag :contest_template_id, @challenge.contest_template.id %>
  <br/>
  <%= hidden_field_tag :entry_id, @challenge.entry.id %>

<%- else %>

  <%= label_tag :game_id, "Game" %>
  <%= select_tag :game_id, options_for_select(@games, @challenge.contest_template.game.id), onchange: "game_changed();" %>
  <span id="game-output"></span>
  <br/>


  <%= label_tag :contest_template_id, "Contest Template" %>
  <%= select_tag :contest_template_id, @challenge.contest_template.id, onchange: "contest_template_changed();" %>
  <span id="ct-output"></span>
  <br/>

<%- end %>



  <%= label_tag :entry_item, "", id: "entry_item_label", style: "display: none;" %>
  <%= select_tag :entry_item, "", onchange: "validate();", name: "entry_item[]", style: "display: none;" %>
  <br/>
  <div id="entries-sub-form"></div><br/>
  <span id="entries-output"></span>

  <strong>Promo Basics</strong><br/>
  <%= label_tag :promo_name, "Displayed Name" %>
  <%= text_field_tag :promo_name, @challenge.promotion.name, onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_identifier, "Identifier" %>

<%- if @challenge.persisted? %>
  <span style="color: #BBB"><%= @challenge.promotion.identifier %></span>
  <%= hidden_field_tag :promo_identifier, @challenge.promotion.identifier %>
<%- else %>
  <%= text_field_tag :promo_identifier, @challenge.promotion.identifier, onchange: "promo_identifier_changed();" %>
<%- end %>
  <span id="identifier-output"></span>
  <br/>
  
  <%= label_tag :promotion_group_id, "Promotion Group" %>
  <%= select_tag :promotion_group_id, options_for_select(@promotion_groups, @challenge.promotion.promotion_group_id), onchange: "validate();" %>
  <span id="pg-output"></span>
  <br/>
  


  <%= label_tag :promo_description, "Description" %>
  <%= text_area_tag :promo_description, @challenge.promotion.description, onchange: "validate();" %>
  <br/>

  <br/>
  <strong>Promo Visuals</strong><br/>
  <%= label_tag :promo_display_type, "Display Type" %>
  <%= text_field_tag :promo_display_type, @challenge.promotion.display_type, onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_logo_css_class, "Logo Css" %>
  <%= text_field_tag :promo_logo_css_class, @challenge.promotion.name_logo["css_class"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_logo_unicode, "Logo Unicode" %>
  <%= text_field_tag :promo_logo_unicode, @challenge.promotion.name_logo["unicode"], onchange: "validate();" %>
  <br/>

  <br/>
  <strong>Promo Mobile Images</strong><br/>
  <%= label_tag :promo_mobile_background, "Background" %>
  <%= text_field_tag :promo_mobile_background, @challenge.promotion.images["mobile"]["background"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_mobile_banner, "Banner" %>
  <%= text_field_tag :promo_mobile_banner, @challenge.promotion.images["mobile"]["banner"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_mobile_badge, "Badge" %>
  <%= text_field_tag :promo_mobile_badge, @challenge.promotion.images["mobile"]["badge"], onchange: "validate();" %>
  <br/>

  <br/>
  <strong>Promo Tablet Images</strong><br/>
  <%= label_tag :promo_tablet_background, "Background" %>
  <%= text_field_tag :promo_tablet_background, @challenge.promotion.images["tablet"]["background"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_tablet_banner, "Banner" %>
  <%= text_field_tag :promo_tablet_banner, @challenge.promotion.images["tablet"]["banner"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_tablet_badge, "Badge" %>
  <%= text_field_tag :promo_tablet_badge, @challenge.promotion.images["tablet"]["badge"], onchange: "validate();" %>
  <br/>

  <br/>
  <strong>Promo Desktop Images</strong><br/>
  <%= label_tag :promo_desktop_background, "Background" %>
  <%= text_field_tag :promo_desktop_background, @challenge.promotion.images["desktop"]["background"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_desktop_banner, "Banner" %>
  <%= text_field_tag :promo_desktop_banner, @challenge.promotion.images["desktop"]["banner"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_desktop_badge, "Badge" %>
  <%= text_field_tag :promo_desktop_badge, @challenge.promotion.images["desktop"]["badge"], onchange: "validate();" %>
  <br/>

  <br/>
  <strong>Emails</strong><br/>
<br/>

  <%- 
    default_header = "<tr><td align=\"center\" valign=\"top\" style=\"background-color: #0161c5;border-collapse:separate!important;border-top-left-radius:4px;border-top-right-radius:4px;padding:10px 0;\"><a href=\"www.dailymvp.com\" style=\"text-decoration:none\" target=\"_blank\" title=\"DailyMVP\"><img src=\"http://di3648ok8zows.cloudfront.net/public-images/emails/DailyMVP-Logo.png\" style=\"border:0;min-height:auto!important;line-height:100%;outline:none;text-align:center;text-decoration:none\" alt=\"DailyMVP\"></a></td></tr>"
  %>

  <em>Welcome Email</em><br/>  
  <%= label_tag :email_contest_joined_layout, "Layout" %>
  <%= text_field_tag :email_contest_joined_layout, @challenge.promotion.emails["contest_joined"]["layout"], onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_joined_subject, "Subject" %>
  <%= text_field_tag :email_contest_joined_subject, @challenge.promotion.emails["contest_joined"]["subject"], onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_joined_header, "Header" %>
  <%= text_area_tag :email_contest_joined_header, @challenge.promotion.emails["contest_joined"]["header"] || default_header, onchange: "validate();" %>
  <br/><br/>
  <%= label_tag :email_contest_joined_body, "Body" %>
  <%= text_area_tag :email_contest_joined_body, @challenge.promotion.emails["contest_joined"]["body"], onchange: "validate();" %>
  <br/><br/>

  <em>Contest (Win) Email</em><br/>  
  <%= label_tag :email_contest_win_layout, "Layout" %>
  <%= text_field_tag :email_contest_win_layout, @challenge.promotion.emails["contest_win"]["layout"], onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_win_subject, "Subject" %>
  <%= text_field_tag :email_contest_win_subject, @challenge.promotion.emails["contest_win"]["subject"], onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_win_header, "Header" %>
  <%= text_area_tag :email_contest_win_header, @challenge.promotion.emails["contest_win"]["header"] || default_header, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_win_body_pre, "Body (Intro)" %>
  <%= text_area_tag :email_contest_win_body_pre, @challenge.promotion.emails["contest_win"]["body"]["pre"], onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_win_body_post, "Body (Conclusion)" %>
  <%= text_area_tag :email_contest_win_body_post, @challenge.promotion.emails["contest_win"]["body"]["post"], onchange: "validate();" %>
  <br/><br/>

  <em>Contest (Loss) Email</em><br/>  
  <%= label_tag :email_contest_loss_layout, "Layout" %>
  <%= text_field_tag :email_contest_loss_layout, @challenge.promotion.emails["contest_loss"]["layout"], onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_loss_subject, "Subject" %>
  <%= text_field_tag :email_contest_loss_subject, @challenge.promotion.emails["contest_loss"]["subject"], onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_loss_header, "Header" %>
  <%= text_area_tag :email_contest_loss_header, @challenge.promotion.emails["contest_loss"]["header"] || default_header, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_loss_body_pre, "Body (Intro)" %>
  <%= text_area_tag :email_contest_loss_body_pre, @challenge.promotion.emails["contest_loss"]["body"]["pre"], onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_loss_body_post, "Body (Conclusion)" %>
  <%= text_area_tag :email_contest_loss_body_post, @challenge.promotion.emails["contest_loss"]["body"]["post"], onchange: "validate();" %>
  <br/><br/>

  <em>Contest (Tie) Email</em><br/>  
  <%= label_tag :email_contest_tie_layout, "Layout" %>
  <%= text_field_tag :email_contest_tie_layout, @challenge.promotion.emails["contest_tie"]["layout"], onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_tie_subject, "Subject" %>
  <%= text_field_tag :email_contest_tie_subject, @challenge.promotion.emails["contest_tie"]["subject"], onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_tie_header, "Header" %>
  <%= text_area_tag :email_contest_tie_header, @challenge.promotion.emails["contest_tie"]["header"] || default_header, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_tie_body_pre, "Body (Intro)" %>
  <%= text_area_tag :email_contest_tie_body_pre, @challenge.promotion.emails["contest_tie"]["body"]["pre"], onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_tie_body_post, "Body (Conclusion)" %>
  <%= text_area_tag :email_contest_tie_body_post, @challenge.promotion.emails["contest_tie"]["body"]["post"], onchange: "validate();" %>
  <br/>
  <br/>

  <%= submit_tag "Submit", id: "submitter" %>

<script type="text/javascript">
  var balance;
  var buy_ins;
  var unique_identifier; 
  $(document).ready(function() {
    initialize();
    validate();
  });

  function initialize() {
    document.getElementById('submitter').setAttribute("disabled", "disabled");
    //document.getElementById('contest_template_id').setAttribute("disabled", "disabled");
    balance = 0;
    buy_ins = new Object();
    unique_identifier = true;
  

    user_lookup();


    if($("#game_id").val() != "" && $("#game_id").val() != null) {
      game_changed();
    }
  }

  function validate() {
    valid = true;



    // gotta have promo name
    if($("#promo_name").val() != "") {
      $("[for=promo_name]").css("color", "black");
    } else {
      valid = false;
      $("[for=promo_name]").css("color", "red");
    }

    // entriesss
    entry_count = $("[id^=entry_item_drop]").length;
    unique_entry_count = $.unique($.map($("[id^=entry_item_drop_]"), function( i ) { return $(i).val(); })).length;
    valid_entries = (entry_count > 0 && entry_count == unique_entry_count);

    if(valid_entries) {
      $("#entries-output").empty();
      $("[id^=entry_item_label_").css("color", "black");
    } else {
      valid = false;
      if(entry_count != unique_entry_count) {
        $("#entries-output").css("color", "red");
        $("#entries-output").text("Duplicate entry item selection detected!");
        $("#entries-output").append("<br/><br/>");
      }
      $("[id^=entry_item_label_]").css("color", "red");
    }

    // max it out
    if($("#max").val() > 1) {
      if($("#max").val() * buy_ins[$("#contest_template_id").val()] > balance) { 
        $("[for=max]").css("color", "red");
        $("#max-output").css("color", "red");
        if($("#contest_template_id").val() != null && $("#contest_template_id").val() != "") {
          $("#max-output").text("Total Buy In: $" + ($("#max").val() * buy_ins[$("#contest_template_id").val()] / 100).toFixed(2) + " - this is over budget");
        }
      } else {
        $("[for=max]").css("color", "black");
        $("#max-output").css("color", "black");
        if($("#contest_template_id").val() != null && 
          $("#contest_template_id").val() != "" &&
          buy_ins[$("#contest_template_id").val()] != null &&
          buy_ins[$("#contest_template_id").val()] != "") {
          $("#max-output").text("Total Buy In: $" + ($("#max").val() * buy_ins[$("#contest_template_id").val()] / 100).toFixed(2));
        }
      }

    } else {
      valid = false;
      $("[for=max]").css("color", "red");
    }


    if($("#promotion_group_id").val() != "" && $("#promotion_group_id").val() != null) {
      $("[for=promotion_group_id]").css("color", "black");
    } else {
      valid = false
      $("[for=promotion_group_id]").css("color", "red");
    }

  <%- if !@challenge.persisted? %>

    // gots a user
    if($("#user_id").val() != "") {
      $("[for=username]").css("color", "black");
    } else {
      valid = false;
      $("[for=username]").css("color", "red");
    }
    // show promo identifier some love
    $("#identifier-output").text("");
    if($("#promo_identifier").val() != "") {
      if(unique_identifier) {
        $("[for=promo_identifier]").css("color", "black");
      } else {
        $("#identifier-output").text("not unique!");
        $("[for=promo_identifier]").css("color", "red");
        valid = false;
      } 
    } else {
      valid = false;
      $("[for=promo_identifier]").css("color", "red");
    }

    // game it
    if($("#game_id").val() != "") {
      $("[for=game_id]").css("color", "black");
    } else {
      valid = false;
      $("[for=game_id]").css("color", "red");
    }
    // template it
    if($("#contest_template_id").val() != "" && $("#contest_template_id").val() != null) {
      $("[for=contest_template_id]").css("color", "black");
    } else {
      valid = false;
      $("[for=contest_template_id]").css("color", "red");
    }
    
  <%- end %>

    // are we valid?
    update_submit(valid);
  }

  function update_submit(valid) {
    if(valid) {
      document.getElementById('submitter').removeAttribute("disabled");
    } else {
      document.getElementById('submitter').setAttribute("disabled", "disabled");
    }
  }

  function user_lookup() {
    $.getJSON( "/rapi_users/search?username=" + $("#username").val(), function(data) {
      if (data.username == undefined) {
        balance = 0;
        $("#user_id").val("");
        $("#username-output").text("User not found.");
      } else { 
        balance = data.balance;
        $("#user_id").val(data.id);
        $("#username-output").text("User found: " + data.username + " // Balance: $" + (data.balance / 100).toFixed(2));
      }
      validate();
    });
  }

<%- if !@challenge.persisted? %>
  function promo_identifier_changed() {
    if($("#promo_identifier").val() != "") {
      $.getJSON( "/promotions/identifier_check?identifier=" + $("#promo_identifier").val(), function(data) {
        if (data.exists) {
          unique_identifier = false;
        } else {
          unique_identifier = true;
        }
        validate();
      });
    } else {
      validate(); 
    }
  }
<%- end %>


  function game_changed() {
    $("#entries-sub-form").empty();
    $('#contest_template_id').empty();
    if($("#game_id").val() != "") {

<%- if @challenge.persisted? %>
      $.getJSON( "/games/" + $("#game_id").val() + "/contest_templates.json", function(data) {
        if (data.length == 0) {
          $("#game-output").text("No contest templates open for this game.");
        } else {
          $("#game-output").text("");
          
          $.each(data, function(index, option) {
            buy_ins[option[0]] = option[3];
          });

          contest_template_changed();
        }
        validate();
      });
<%- else %>
      $.getJSON( "/games/" + $("#game_id").val() + "/contest_templates.json", function(data) {
        if (data.length == 0) {
          $("#game-output").text("No contest templates open for this game.");
        } else {
          $("#game-output").text("");
          $('#contest_template_id').append("<option value=\"\"></option>");
          $.each(data, function(index, option) {
            buy_ins[option[0]] = option[3];
            $('#contest_template_id').append("<option value=\"" + option[0] + "\">" + option[1] + " - " + option[2] + " - " + option[4] + " - " + option[5] + "</option>");
          });

          $("#contest_template_id").val("<%= @challenge.contest_template.id %>");
          contest_template_changed();
        }
        validate();
      });
<%- end %>

    }
  }

  function contest_template_changed() {
<%- if @challenge.entry.entry_items.present? %>
    entry_selections = {
  <%= @challenge.entry.entry_items.collect { |item| "#{item.slot_id}: #{item.event_participant_id}" }.join(",") %>
    }
<%- end %>

    // todo validate balance yo
    // $("[id^='entry_item_label_']").remove();
    // $("[id^='entry_item_drop_']").remove();
    
    $("#entries-sub-form").empty();
  
    // update entry items
    if($("#contest_template_id").val() != "") {
      update_submit(false);
      //loading stuff UI
      document.getElementById('game_id').setAttribute("disabled", "disabled");
      document.getElementById('contest_template_id').setAttribute("disabled", "disabled");
      document.getElementById('submitter').setAttribute("disabled", "disabled");
      $("#entries-output").text("Loading entry items...");
      $("#entries-output").append("<br/><br/>");
      $("#entries-output").css("color", "blue");


      $.getJSON( "/games/" + $("#game_id").val() + "/contest_templates/" + $("#contest_template_id").val() + "/event_participants.json", function(data) {
        if (data.length == 0) {
          $("#ct-output").text("No event participants are available for this contest template.");
        } else {
          $("#ct-output").text("");
          $.each(data, function(index, slot) {

            var drop = $("#entry_item").clone();
            var label = $("#entry_item_label").clone();
            drop.attr("id", "entry_item_drop_" + index);
            label.attr("id", "entry_item_label_" + index);
            label.attr("for", "entry_item_drop_" + index);
            label.append(slot.display_name);

            $.each(slot.event_participants, function(index, event_participant) {
              drop.append("<option value=\"" + event_participant[1] + "\">" + event_participant[0] + "</option>");
            });

            $("#entries-sub-form").append(label);
            $("#entries-sub-form").append(drop);
            $("#entries-sub-form").append("<br/>");
            label.show();
            drop.show();

  <%- if @challenge.entry.entry_items.present? %>
            drop.val(entry_selections[index+1]);
  <%- end %>
            //$('#contest_template_id').append("<option value=\"" + option[1] + "\">" + option[0] + "</option>");
          });

        }
        validate();
      }).always(function() {
        document.getElementById('contest_template_id').removeAttribute("disabled");
        document.getElementById('game_id').removeAttribute("disabled");
        $("#entries-output").empty();
      });
    }
  }



  function update_client_app() {
    $.ajax({
      url: '/client_apps',
      type: 'PUT',
      data: "client_app=" + $("#client_app").val(),
      success: function(data) {
        update_ui_for_client_app();
        user_lookup();
      }
    });
  }
</script>

