<%- 
  # default_header_image_url = "di3648ok8zows.cloudfront.net/public-images/emails/DailyMVP-Logo.png"
  # default_header_color_code = "0161c5"
  # default_header_target_url = "www.dailymvp.com"
  default_header_image_url = ""
  default_header_color_code = ""
  default_header_target_url = ""
%>


<%- if @promotion_target.persisted? %>

  <strong><%= @promotion_target.contest_type %> Settings</strong><br/>
  
  <%= hidden_field_tag :user_id, "" %>
  <%= label_tag :username, "Username" %>
  <span style="color: #BBB"><%= @promotion_target.username || "No Featured User" %></span>
  <%= hidden_field_tag :username, @promotion_target.username %>
  <br/>

  <%- if @promotion_target.invitation_link.present? %>
    <%= label_tag "Invite Link" %>
    <a href="<%= @promotion_target.invitation_link %>"><%= @promotion_target.invitation_link %></a>
    <br/>
  <%- end %>
  
  <%= label_tag :game_id, "Game" %>
  <span style="color: #BBB"><%= @promotion_target.contest_template.game.name %></span>
  <%= hidden_field_tag :game_id, @promotion_target.contest_template.game.id %>
  <br/>

  <%= label_tag :contest_template_id, "Contest Template" %>
  <span style="color: #BBB"><%= "#{@promotion_target.contest_template.event_set.description} - #{@promotion_target.contest_template.buy_in["label"]} - #{@promotion_target.contest_template.size["label"]} - #{@promotion_target.contest_template.is_publicly_joinable ? "Public" : "Private"}" %></span>
  <%= hidden_field_tag :contest_template_id, @promotion_target.contest_template.id %>
  <br/>
  <%= hidden_field_tag :entry_id, @promotion_target.entry.id %>
  <%= hidden_field_tag :event_set_id, @promotion_target.contest_template.event_set.id %>
  <%= hidden_field_tag :size, @promotion_target.contest_template.size["value"] %>
  

  <%- if @promotion_target.max %>
    <%= label_tag :max, "Max Challengers" %>
  
    <%= number_field_tag :max, @promotion_target.max, min: 2, size: "4", onchange: "validate();" %>
    <span id="max_output"></span>
    <br/>
  <%- end %>


  <%= check_box_tag :is_publicly_joinable, :picked, @promotion_target.contest_template.is_publicly_joinable, onchange: "validate();" %>
  <%= label_tag :is_publicly_joinable, "Publicly Joinable" %>
  <span id="publicly_joinable_output"></span>
<%- else %>

  <div id="target_settings">
    <strong>Contest/Challenge Settings</strong><br/>

    <%= label_tag :game_id, "Game" %>
    <%= select_tag :game_id, options_for_select(@games, @promotion_target.contest_template.game.id), onchange: "game_changed();" %>
    <span id="game_output"></span>
    <br/>
    <div id="cc_config">

      <%= radio_button_tag :c_or_c, :challenge, @promotion_target.contest_type == "Challenge", onchange: "c_or_c_changed();" %>
      <%= label_tag :c_or_c_challenge, "Challenge" %>
      &nbsp;
      <%= radio_button_tag :c_or_c, :contest, @promotion_target.contest_type == "Contest", onchange: "c_or_c_changed();" %>
      <%= label_tag :c_or_c_contest, "Contest" %>


      <br/>
      <br/>

      <strong>Featured User</strong><br/>
      <%= hidden_field_tag :user_id, "" %>
      <%= label_tag :username, "Username" %>
      <%= text_field_tag :username, @promotion_target.username, onchange: "user_lookup();" %>
      <span id="username_output"></span>

      <div id="challenge_config" style="display:none;">
        <%= label_tag :max, "Max Challengers" %>
        <%= number_field_tag :max, @promotion_target.max, min: 2, size: "4", onchange: "validate();" %>
        <span id="max_output"></span>
        <br/>
      </div>

      <div id="contest_config" style="display:none;">

        <%= label_tag :size, "Contest Size" %>
        <%= number_field_tag :size, @promotion_target.contest_template.size["value"], min: 2, onchange: "validate();update_prize_places();" %>
        <span id="size_output"></span>
        <br/>
      </div>

      <%= label_tag :event_set_id, "Event Set" %>
      <%= select_tag :event_set_id, "", onchange: "event_set_changed();" %>
      <span id="es_output"></span>
      <br/>

      <%= label_tag :buy_in, "Buy In" %>
      $<%= number_field_tag :buy_in, "%0.2f" % (@promotion_target.contest_template.buy_in["value"].to_f / 100), min: 0, step: 'any', onchange: "validate();" %>
      <span id="buy_in_output"></span>
      <br/>

      <%= check_box_tag :is_publicly_joinable, :picked, @promotion_target.contest_template.is_publicly_joinable, onchange: "validate();" %>
      <%= label_tag :is_publicly_joinable, "Publicly Joinable" %>
      <span id="publicly_joinable_output"></span>



    </div>



  <%- end %>

    <div id="target_settings">
      <br/>
      <br/>
      <%- if !@promotion_target.persisted? || @promotion_target.promotion.is_pending %>
        <%= check_box_tag :skip_entry, :picked, @promotion_target.promotion.is_pending, onchange: "skip_entry_changed();" %>
        <%= label_tag :skip_entry, "This Is A Pending Promotion (Create this promotion without entry items selected)" %>
      <%- end %>
      <div id="activation_deadline" style="display:none;">
        <br/>
        <strong>Activation Deadline Date/Time (Pacific timezone)</strong><br/>
        <%- 
          if @promotion_target.promotion.activation_deadline.present?
            activation_date_string = DateTime.parse(@promotion_target.promotion.activation_deadline).strftime("%Y-%m-%d")
            activation_time_string = DateTime.parse(@promotion_target.promotion.activation_deadline).strftime("%H:%M")
          else
            activation_date_string = ""
            activation_time_string = ""
          end
        %>
        <%= date_field_tag :activation_deadline_date, activation_date_string, onchange: "validate();" %>
        <%= time_field_tag :activation_deadline_time, activation_time_string, onchange: "validate();" %>
      </div>
      
      <div id="notifications_setup" style="display:none;">
        <br/>
        <strong>Pending Promotion Notifications</strong>
        <br/>
        Contest Available
        <br/>

        <em>Email</em><br/>
        <%= check_box_tag :email_contest_available_layout_configurable, :picked, @promotion_target.promotion.emails.fetch("contest_available", {}).fetch("layout", "configurable") == "configurable", onchange: "validate();updateEmails();" %>
        <%= label_tag :email_contest_available_layout_configurable, "Use Configurable Layout" %>
        <br/>
        <%= label_tag :email_contest_available_layout, "Layout" %>
        <%= text_field_tag :email_contest_available_layout, @promotion_target.promotion.emails.fetch("contest_available", {}).fetch("layout") { "configurable" }, onchange: "validate();updateEmails();" %>
        <br/>
        <%= label_tag :email_contest_available_subject, "Subject" %>
        <%= text_field_tag :email_contest_available_subject, @promotion_target.promotion.emails.fetch("contest_available", {}).fetch("subject", ""), onchange: "validate();" %>
        <span id="email_contest_available_subject_output" style="color: red;"></span>
        <br/>
        <%= label_tag :email_contest_available_header_image_url, "Header Image URL" %>
        <%= text_field_tag :email_contest_available_header_image_url, (@promotion_target.promotion.emails.fetch("contest_available", {}).fetch("header", {}) || {})["image_url"] || default_header_image_url, onchange: "validate();" %>
        <br/>
        <%= label_tag :email_contest_available_header_color_code, "Header Color Hex" %>
        <small>#</small><%= text_field_tag :email_contest_available_header_color_code, (@promotion_target.promotion.emails.fetch("contest_available", {}).fetch("header", {}) || {})["color_code"] || default_header_color_code, onchange: "validate();" %>
        <br/>
        <%= label_tag :email_contest_available_header_target_url, "Header Link Target URL" %>
        <%= text_field_tag :email_contest_available_header_target_url, (@promotion_target.promotion.emails.fetch("contest_available", {}).fetch("header", {}) || {})["target_url"] || default_header_target_url, onchange: "validate();" %>
        <br/>
        <%= label_tag :email_contest_available_body, "Body" %>
        <%= text_area_tag :email_contest_available_body, @promotion_target.promotion.emails.fetch("contest_available", {}).fetch("body", "").try(:gsub, "<br/>", "\r\n"), onchange: "validate();" %>
        <span id="email_contest_available_body_output" style="color: red;"></span>
        <br/>
        <%= label_tag :email_contest_available_action_button_label, "Button Label" %>
        <%= text_field_tag :email_contest_available_action_button_label, (@promotion_target.promotion.emails.fetch("contest_available", {}).fetch("action_button", {}) || {})["label"], onchange: "validate();" %>
        <br/>
        
        <em>Push</em><br/>
        <%= label_tag "notification[name]", "Name" %>
        <%= text_field_tag "notification[name]", (@promotion_target.promotion.notification || {}).fetch("name", ""), onchange: "validate();" %>
        <span id="notification_name_output" style="color: red;"></span>
        <br/>
        <%= label_tag "notification[description]", "Description" %>
        <%= text_field_tag "notification[description]",(@promotion_target.promotion.notification || {}).fetch("description", ""), onchange: "validate();" %>
        <span id="notification_description_output" style="color: red;"></span>
        <br/>
        <%= label_tag "notification[push_text]", "Message" %>
        <%= text_area_tag "notification[push_text]", (@promotion_target.promotion.notification || {}).fetch("push_text", ""), onchange: "validate();" %>
        <span id="notification_push_text_output" style="color: red;"></span>
        <br/>
        <br/>
      </div>

      <div id="entry_select">
        <br/>
        <strong>Entry</strong><br/>
        <%= label_tag :entry_item, "", id: "entry_item_label", style: "display:none;" %>
        <%= select_tag :entry_item, "", onchange: "validate();", name: "entry_item[]", style: "display:none;" %>
        <br/>
        <div id="entries_sub_form"></div>
      </div>
      <br/>
      <span id="entries_output"></span>
      <br/>
    </div>

    <div id="prize-table" style="display:none;">
      <strong>Prizes</strong>
      <div id="prize_rows">


    <%-
      if @promotion_target.contest_template.prize_table.present?
        prize_table = @promotion_target.contest_template.prize_table
      else
        # defaults
        prize_table = [{
          "start_place" => 1,
          "end_place" => 1,
          "prizes" => [
            {
              "type" => "Cash",
              "value" => 100,
              "label" => "",
              "icon" => { "css_class" => "", "unicode" => "", "url" => "" }
            }
          ]
        }]
      end
    %>

    <%- prize_table.each_with_index do |prize_row, row_index| %>
        <div class="prize_row">
          <div class="prize_range" style="float: left;">
            <br/>
            Start Place
            <%= number_field_tag "prize_table[][start_place]", prize_row["start_place"], min: 1, onchange: "update_prize_places();" %>
            &nbsp;
            End Place
            <%= number_field_tag "prize_table[][end_place]", prize_row["end_place"], min: 1, onchange: "update_prize_places();" %>
            &nbsp;
          </div>

          <div class="prize_options" style="float: left;">

          <%- prize_row["prizes"].each_with_index do |option_row, option_index| %>

              <div class="prize_option">
                <span class="add_prize_option"><a href="javascript:void(0)" onclick="add_prize_option(this);">+</a></span>
                /
                <span class="delete_prize_option"><a href="javascript:void(0)" onclick="alert('we should keep at least one prize around');">-</a></span>
                
                &nbsp;
                <%= select_tag "prize_table[]options[][prize_type]", options_for_select(["Cash","Ticket","Other"], option_row["type"]), onchange: "prize_type_changed(this);" %>
                &nbsp;
                <%- if option_row["type"] == "Other" %>      
                  <span class="dollar_value_label" style="text-align: right;width: 60px;display: inline-block;">Value</span>
                  <span class="dollar_prize_value">$<%= number_field_tag "prize_table[]options[][prize_num_value]", "%0.2f" % (option_row["value"].to_f / 100), min: 1, step: "any", size: "3", onchange: "clear_prize_description(this);" %></span>
                  <span class="text_value_label">Label</span>
                  <span class="text_prize_value"><%= text_field_tag "prize_table[]options[][prize_txt_value]", option_row["label"] %></span>
                  <span class="description_label">Description: </span>
                  <span class="description_value"><%= text_field_tag "prize_table[]options[][prize_description_override]", prize_row["total_value_label"], placeholder: "(will be generated)" %></span>
                  <span class="reward_identifer_label">Reward Identifier</span>
                  <span class="reward_identifer_value"><%= text_field_tag "prize_table[]options[][prize_reward_identifer]", option_row["reward_identifier"], placeholder: "(optional)"%></span>
                 <%- else %>
                  <span class="dollar_value_label" style="text-align: right;width: 60px;display: inline-block;">Value</span>
                  <span class="dollar_prize_value">$<%= number_field_tag "prize_table[]options[][prize_num_value]", "%0.2f" % (option_row["value"].to_f / 100), min: 1, step: "any", size: "3", onchange: "clear_prize_description(this);" %></span>
                  <span class="text_value_label">Label</span>
                  <span class="text_prize_value"><%= text_field_tag "prize_table[]options[][prize_txt_value]", "" %></span>
                  <span class="description_label">Description: </span>
                  <span class="description_value"><%= text_field_tag "prize_table[]options[][prize_description_override]", "", placeholder: "(will be generated)" %></span>
                  <span class="reward_identifer_label">Reward Identifier</span>
                  <span class="reward_identifer_value"><%= text_field_tag "prize_table[]options[][prize_reward_identifer]", "", placeholder: "(optional)" %></span>
                <%- end %>
                &nbsp;
                Icon Hash
                <%= text_area_tag "prize_table[]options[][icon]", option_row["icon"].present? ? JSON.generate(option_row["icon"].to_hash) : '{ "css_class":"", "unicode":"", "url":"" }' %>
                &nbsp;
                <span class="delete_prize" style="display:none;"><a href="javascript:void(0)" onclick="delete_prize(this);">delete prize range</a></span>
              </div>
          <%- end %>
          </div>
          <div class="prize_option_output" style="float: left; color: red;"></div>
          <div style="clear: both;"></div>
          <hr>
        </div>
    <%- end %>



      </div>
        <div style="clear: both;"></div>
      <span class="add-prize"><a href="javascript:void(0)" onclick="add_prize();">add prize range</a></span>
    </div>


  </div>
    <br/>
    <br/>

  <strong>Promo Basics</strong><br/>
  <%= label_tag :promo_name, "Displayed Name" %>
  <%= text_field_tag :promo_name, @promotion_target.promotion.name, onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_identifier, "Identifier" %>

<%- if @promotion_target.persisted? %>
  <span style="color: #BBB"><%= @promotion_target.promotion.identifier %></span>
  <%= hidden_field_tag :promo_identifier, @promotion_target.promotion.identifier %>
<%- else %>
  <%= text_field_tag :promo_identifier, @promotion_target.promotion.identifier, onchange: "promo_identifier_changed();" %>
<%- end %>
  <span id="identifier_output"></span>
  <br/>
  
  <%= label_tag :promotion_group_id, "Promotion Group" %>
  <%= select_tag :promotion_group_id, options_for_select(@promotion_groups, @promotion_target.promotion.promotion_group_id), onchange: "validate();" %>
  <span id="pg-output"></span>
  <br/>
  


  <%= label_tag :promo_description, "Description" %>
  <%= text_area_tag :promo_description, @promotion_target.promotion.description, onchange: "validate();" %>
  <br/>

  <%= label_tag :prize_source_label, "Prize Source Label" %>
  <%= text_field_tag :prize_source_label, @promotion_target.promotion.prize_source["label"], onchange: "validate();" %>
  <br/>
  <%= label_tag :prize_source_image_url, "Prize Source Image URL" %>
  <%= text_field_tag :prize_source_image_url, @promotion_target.promotion.prize_source["image_url"], onchange: "validate();" %>
  <br/>
  
  <%= label_tag :invitation_hashtag, "Invitation Hashtag" %>
  <%= text_field_tag :invitation_hashtag, @promotion_target.promotion.invitation_hashtag %>
  <br/>
  


  <br/>
  <strong>Promo Visuals</strong><br/>
  <%= label_tag :promo_display_type, "Display Type" %>
  <%= text_field_tag :promo_display_type, @promotion_target.promotion.display_type, onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_logo_css_class, "Logo Css" %>
  <%= text_field_tag :promo_logo_css_class, @promotion_target.promotion.name_logo["css_class"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_logo_unicode, "Logo Unicode" %>
  <%= text_field_tag :promo_logo_unicode, @promotion_target.promotion.name_logo["unicode"], onchange: "validate();" %>
  <br/>

  <br/>
  <strong>Promo Mobile Images</strong><br/>
  <%= label_tag :promo_mobile_background, "Background" %>
  <%= text_field_tag :promo_mobile_background, @promotion_target.promotion.images["mobile"]["background"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_mobile_banner, "Banner" %>
  <%= text_field_tag :promo_mobile_banner, @promotion_target.promotion.images["mobile"]["banner"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_mobile_badge, "Badge" %>
  <%= text_field_tag :promo_mobile_badge, @promotion_target.promotion.images["mobile"]["badge"], onchange: "validate();" %>
  <br/>

  <br/>
  <strong>Promo Tablet Images</strong><br/>
  <%= label_tag :promo_tablet_background, "Background" %>
  <%= text_field_tag :promo_tablet_background, @promotion_target.promotion.images["tablet"]["background"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_tablet_banner, "Banner" %>
  <%= text_field_tag :promo_tablet_banner, @promotion_target.promotion.images["tablet"]["banner"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_tablet_badge, "Badge" %>
  <%= text_field_tag :promo_tablet_badge, @promotion_target.promotion.images["tablet"]["badge"], onchange: "validate();" %>
  <br/>

  <br/>
  <strong>Promo Desktop Images</strong><br/>
  <%= label_tag :promo_desktop_background, "Background" %>
  <%= text_field_tag :promo_desktop_background, @promotion_target.promotion.images["desktop"]["background"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_desktop_banner, "Banner" %>
  <%= text_field_tag :promo_desktop_banner, @promotion_target.promotion.images["desktop"]["banner"], onchange: "validate();" %>
  <br/>
  <%= label_tag :promo_desktop_badge, "Badge" %>
  <%= text_field_tag :promo_desktop_badge, @promotion_target.promotion.images["desktop"]["badge"], onchange: "validate();" %>
  <br/>

  <br/>
  <strong>Emails</strong><br/>
<br/>

  <em>Welcome Email</em><br/>
  <%= check_box_tag :enable_contest_joined_email, :picked, @promotion_target.promotion.emails.fetch("contest_joined", {}).fetch("enabled", true), onchange: "update_email_fields('contest_joined');" %>
  <%= label_tag :enable_contest_joined_email, "Enable" %>
  <br/>
  <%= check_box_tag :email_contest_joined_layout_configurable, :picked, @promotion_target.promotion.emails.fetch("contest_joined", {}).fetch("layout", "configurable") == "configurable", onchange: "validate();updateEmails();" %>
  <%= label_tag :email_contest_joined_layout_configurable, "Use Configurable Layout" %>
  <br/>
  <%= label_tag :email_contest_joined_layout, "Layout" %>
  <%= text_field_tag :email_contest_joined_layout, @promotion_target.promotion.emails.fetch("contest_joined", {}).fetch("layout") { "configurable" }, onchange: "validate();updateEmails();" %>
  <br/>
  <%= label_tag :email_contest_joined_subject, "Subject" %>
  <%= text_field_tag :email_contest_joined_subject, @promotion_target.promotion.emails.fetch("contest_joined", {}).fetch("subject", {}), onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_joined_header_image_url, "Header Image URL" %>
  <%= text_field_tag :email_contest_joined_header_image_url, @promotion_target.promotion.emails.fetch("contest_joined", {}).fetch("header", {})["image_url"] || default_header_image_url, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_joined_header_color_code, "Header Color Hex" %>
  <small>#</small><%= text_field_tag :email_contest_joined_header_color_code, @promotion_target.promotion.emails.fetch("contest_joined", {}).fetch("header", {})["color_code"] || default_header_color_code, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_joined_header_target_url, "Header Link Target URL" %>
  <%= text_field_tag :email_contest_joined_header_target_url, @promotion_target.promotion.emails.fetch("contest_joined", {}).fetch("header", {})["target_url"] || default_header_target_url, onchange: "validate();" %>
  <br/><br/>
  <%= label_tag :email_contest_joined_body, "Body" %>
  <%= text_area_tag :email_contest_joined_body, @promotion_target.promotion.emails.fetch("contest_joined", {}).fetch("body", "").try(:gsub, "<br/>", "\r\n"), onchange: "validate();" %>
        <br/>
  <%= label_tag :email_contest_joined_action_button_label, "Button Label" %>
  <%= text_field_tag :email_contest_joined_action_button_label, (@promotion_target.promotion.emails.fetch("contest_joined", {}).fetch("action_button", {}) || {}) ["label"], onchange: "validate();" %>
  <br/>
  <%- 
    contest_joined_button_target_type = (@promotion_target.promotion.emails.fetch("contest_joined", {}).fetch("action_button", {}) || {})["target_type"]
    contest_joined_button_target_type = contest_joined_button_target_type.present? ? contest_joined_button_target_type : "my_contest"
  %>
  <%= label_tag :email_contest_joined_action_button_target_type, "Button Target" %>
  <%= radio_button_tag :email_contest_joined_action_button_target_type, :home, contest_joined_button_target_type.strip.downcase == "home", onchange: "validate();" %>
  <%= label_tag :email_contest_joined_action_button_target_type, "Home" %>
  &nbsp;
  <%= radio_button_tag :email_contest_joined_action_button_target_type, :my_contest, contest_joined_button_target_type.strip.downcase == "my_contest", onchange: "validate();" %>
  <%= label_tag :email_contest_joined_action_button_target_type, "My Contest" %>
  <br/><br/>

  <em>Custom Contest (Win) Email</em><br/>
  <%= check_box_tag :enable_contest_win_email, :picked, @promotion_target.promotion.emails.fetch("contest_win", {}).fetch("enabled", true), onchange: "update_email_fields('contest_win');" %>
  <%= label_tag :enable_contest_win_email, "Enable (default will be sent if disabled)" %>
  <br/>
  <%= check_box_tag :email_contest_win_layout_configurable, :picked, @promotion_target.promotion.emails.fetch("contest_win", {}).fetch("layout", "configurable") == "configurable", onchange: "validate();updateEmails();" %>
  <%= label_tag :email_contest_win_layout_configurable, "Use Configurable Layout" %>
  <br/>
  <%= label_tag :email_contest_win_layout, "Layout" %>
  <%= text_field_tag :email_contest_win_layout, @promotion_target.promotion.emails.fetch("contest_win", {}).fetch("layout") { "configurable" }, onchange: "validate();updateEmails();" %>
  <br/>
  <%= label_tag :email_contest_win_subject, "Subject" %>
  <%= text_field_tag :email_contest_win_subject, @promotion_target.promotion.emails.fetch("contest_win", {}).fetch("subject", {}), onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_win_header_image_url, "Header Image URL" %>
  <%= text_field_tag :email_contest_win_header_image_url, @promotion_target.promotion.emails.fetch("contest_win", {}).fetch("header", {})["image_url"] || default_header_image_url, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_win_header_color_code, "Header Color Hex" %>
  <small>#</small><%= text_field_tag :email_contest_win_header_color_code, @promotion_target.promotion.emails.fetch("contest_win", {}).fetch("header", {})["color_code"] || default_header_color_code, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_win_header_target_url, "Header Link Target URL" %>
  <%= text_field_tag :email_contest_win_header_target_url, @promotion_target.promotion.emails.fetch("contest_win", {}).fetch("header", {})["target_url"] || default_header_target_url, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_win_body_pre, "Body (Intro)" %>
  <%= text_area_tag :email_contest_win_body_pre, @promotion_target.promotion.emails.fetch("contest_win", {}).fetch("body", {})["pre"].try(:gsub, "<br/>", "\r\n"), onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_win_body_post, "Body (Conclusion)" %>
  <%= text_area_tag :email_contest_win_body_post, @promotion_target.promotion.emails.fetch("contest_win", {}).fetch("body", {})["post"].try(:gsub, "<br/>", "\r\n"), onchange: "validate();" %>
        <br/>

  <%= label_tag :email_contest_win_action_button_label, "Button Label" %>
  <%= text_field_tag :email_contest_win_action_button_label, (@promotion_target.promotion.emails.fetch("contest_win", {}).fetch("action_button", {}) || {})["label"], onchange: "validate();" %>
  <br/>
  <%- 
    contest_win_button_target_type = (@promotion_target.promotion.emails.fetch("contest_win", {}).fetch("action_button", {}) || {})["target_type"]
    contest_win_button_target_type = contest_win_button_target_type.present? ? contest_win_button_target_type : "my_contest"
  %>
  <%= label_tag :email_contest_win_action_button_target_type, "Button Target" %>
  <%= radio_button_tag :email_contest_win_action_button_target_type, :home, contest_win_button_target_type.strip.downcase == "home", onchange: "validate();" %>
  <%= label_tag :email_contest_win_action_button_target_type, "Home" %>
  &nbsp;
  <%= radio_button_tag :email_contest_win_action_button_target_type, :my_contest, contest_win_button_target_type.strip.downcase == "my_contest", onchange: "validate();" %>
  <%= label_tag :email_contest_win_action_button_target_type, "My Contest" %>
  <br/><br/>


  <em>Custom Contest (Win) Push</em><br/>
  <%= check_box_tag :enable_contest_win_push, :picked, @promotion_target.promotion.pushes.fetch("contest_win", {}).fetch("enabled", true), onchange: "update_push_fields('contest_win');" %>
  <%= label_tag :enable_contest_win_push, "Enable (default will be sent if disabled)" %>
  <br/>
  <%= label_tag :push_contest_win_push_message, "Message" %>
  <%= text_field_tag :push_contest_win_push_message, @promotion_target.promotion.pushes.fetch("contest_win", {})["message"], onchange: "validate();" %>
  <br/>
  <%- 
    contest_win_button_target_type = (@promotion_target.promotion.pushes.fetch("contest_win", {}) || {})["target_type"]
    contest_win_button_target_type = contest_win_button_target_type.present? ? contest_win_button_target_type : "my_contest"
  %>
  <%= label_tag :push_contest_win_link_target_type, "Link Target" %>
  <%= radio_button_tag :push_contest_win_link_target_type, :home, contest_win_button_target_type.strip.downcase == "home", onchange: "validate();" %>
  <%= label_tag :push_contest_win_link_target_type, "Home" %>
  &nbsp;
  <%= radio_button_tag :push_contest_win_link_target_type, :my_contest, contest_win_button_target_type.strip.downcase == "my_contest", onchange: "validate();" %>
  <%= label_tag :push_contest_win_link_target_type, "My Contest" %>
  <br/><br/>




  <em>Custom Contest (Loss) Email</em><br/>  
  <%= check_box_tag :enable_contest_loss_email, :picked, @promotion_target.promotion.emails.fetch("contest_loss", {}).fetch("enabled", true), onchange: "update_email_fields('contest_loss');" %>
  <%= label_tag :enable_contest_loss_email, "Enable (default will be sent if disabled)" %>
  <br/>
  <%= check_box_tag :email_contest_loss_layout_configurable, :picked, @promotion_target.promotion.emails.fetch("contest_loss", {}).fetch("layout", "configurable") == "configurable", onchange: "validate();updateEmails();" %>
  <%= label_tag :email_contest_loss_layout_configurable, "Use Configurable Layout" %>
  <br/>
  <%= label_tag :email_contest_loss_layout, "Layout" %>
  <%= text_field_tag :email_contest_loss_layout, @promotion_target.promotion.emails.fetch("contest_loss", {}).fetch("layout") { "configurable" }, onchange: "validate();updateEmails();" %>
  <br/>
  <%= label_tag :email_contest_loss_subject, "Subject" %>
  <%= text_field_tag :email_contest_loss_subject, @promotion_target.promotion.emails.fetch("contest_loss", {}).fetch("subject", {}), onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_loss_header_image_url, "Header Image URL" %>
  <%= text_field_tag :email_contest_loss_header_image_url, @promotion_target.promotion.emails.fetch("contest_loss", {}).fetch("header", {})["image_url"] || default_header_image_url, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_loss_header_color_code, "Header Color Hex" %>
  <small>#</small><%= text_field_tag :email_contest_loss_header_color_code, @promotion_target.promotion.emails.fetch("contest_loss", {}).fetch("header", {})["color_code"] || default_header_color_code, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_loss_header_target_url, "Header Link Target URL" %>
  <%= text_field_tag :email_contest_loss_header_target_url, @promotion_target.promotion.emails.fetch("contest_loss", {}).fetch("header", {})["target_url"] || default_header_target_url, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_loss_body_pre, "Body (Intro)" %>
  <%= text_area_tag :email_contest_loss_body_pre, @promotion_target.promotion.emails.fetch("contest_loss", {}).fetch("body", {})["pre"].try(:gsub, "<br/>", "\r\n"), onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_loss_body_post, "Body (Conclusion)" %>
  <%= text_area_tag :email_contest_loss_body_post, @promotion_target.promotion.emails.fetch("contest_loss", {}).fetch("body", {})["post"].try(:gsub, "<br/>", "\r\n"), onchange: "validate();" %>  <br/>
        <br/>
  <%= label_tag :email_contest_loss_action_button_label, "Button Label" %>
  <%= text_field_tag :email_contest_loss_action_button_label, (@promotion_target.promotion.emails.fetch("contest_loss", {}).fetch("action_button", {}) || {})["label"], onchange: "validate();" %>
  <br/>
  <%- 
    contest_loss_button_target_type = (@promotion_target.promotion.emails.fetch("contest_loss", {}).fetch("action_button", {}) || {})["target_type"]
    contest_loss_button_target_type = contest_loss_button_target_type.present? ? contest_loss_button_target_type : "my_contest"
  %>
  <%= label_tag :email_contest_loss_action_button_target_type, "Button Target" %>
  <%= radio_button_tag :email_contest_loss_action_button_target_type, :home, contest_loss_button_target_type.strip.downcase == "home", onchange: "validate();" %>
  <%= label_tag :email_contest_loss_action_button_target_type, "Home" %>
  &nbsp;
  <%= radio_button_tag :email_contest_loss_action_button_target_type, :my_contest, contest_loss_button_target_type.strip.downcase == "my_contest", onchange: "validate();" %>
  <%= label_tag :email_contest_loss_action_button_target_type, "My Contest" %>
  <br/><br/>




  <em>Custom Contest (Loss) Push</em><br/>
  <%= check_box_tag :enable_contest_loss_push, :picked, @promotion_target.promotion.pushes.fetch("contest_loss", {}).fetch("enabled", true), onchange: "update_push_fields('contest_loss');" %>
  <%= label_tag :enable_contest_loss_push, "Enable (default will be sent if disabled)" %>
  <br/>
  <%= label_tag :push_contest_loss_push_message, "Message" %>
  <%= text_field_tag :push_contest_loss_push_message, @promotion_target.promotion.pushes.fetch("contest_loss", {})["message"], onchange: "validate();" %>
  <br/>
  <%- 
    contest_loss_button_target_type = (@promotion_target.promotion.pushes.fetch("contest_loss", {}) || {})["target_type"]
    contest_loss_button_target_type = contest_loss_button_target_type.present? ? contest_loss_button_target_type : "my_contest"
  %>
  <%= label_tag :push_contest_loss_link_target_type, "Link Target" %>
  <%= radio_button_tag :push_contest_loss_link_target_type, :home, contest_loss_button_target_type.strip.downcase == "home", onchange: "validate();" %>
  <%= label_tag :push_contest_loss_link_target_type, "Home" %>
  &nbsp;
  <%= radio_button_tag :push_contest_loss_link_target_type, :my_contest, contest_loss_button_target_type.strip.downcase == "my_contest", onchange: "validate();" %>
  <%= label_tag :push_contest_loss_link_target_type, "My Contest" %>
  <br/><br/>

  <em>Custom Contest (Tie) Email</em><br/>
  <%= check_box_tag :enable_contest_tie_email, :picked, @promotion_target.promotion.emails.fetch("contest_tie", {}).fetch("enabled", true), onchange: "update_email_fields('contest_tie');" %>
  <%= label_tag :enable_contest_tie_email, "Enable (default will be sent if disabled)" %>
  <br/>
  
  <%= check_box_tag :email_contest_tie_layout_configurable, :picked, @promotion_target.promotion.emails.fetch("contest_tie", {}).fetch("layout", "configurable") == "configurable", onchange: "validate();updateEmails();" %>
  <%= label_tag :email_contest_tie_layout_configurable, "Use Configurable Layout" %>
  <br/>
  <%= label_tag :email_contest_tie_layout, "Layout" %>
  <%= text_field_tag :email_contest_tie_layout, @promotion_target.promotion.emails.fetch("contest_tie", {}).fetch("layout") { "configurable" }, onchange: "validate();updateEmails();" %>
  <br/>
  <%= label_tag :email_contest_tie_subject, "Subject" %>
  <%= text_field_tag :email_contest_tie_subject, @promotion_target.promotion.emails.fetch("contest_tie", {}).fetch("subject", {}), onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_tie_header_image_url, "Header Image URL" %>
  <%= text_field_tag :email_contest_tie_header_image_url, @promotion_target.promotion.emails.fetch("contest_tie", {}).fetch("header", {})["image_url"] || default_header_image_url, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_tie_header_color_code, "Header Color Hex" %>
  <small>#</small><%= text_field_tag :email_contest_tie_header_color_code, @promotion_target.promotion.emails.fetch("contest_tie", {}).fetch("header", {})["color_code"] || default_header_color_code, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_tie_header_target_url, "Header Link Target URL" %>
  <%= text_field_tag :email_contest_tie_header_target_url, @promotion_target.promotion.emails.fetch("contest_tie", {}).fetch("header", {})["target_url"] || default_header_target_url, onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_tie_body_pre, "Body (Intro)" %>
  <%= text_area_tag :email_contest_tie_body_pre, @promotion_target.promotion.emails.fetch("contest_tie", {}).fetch("body", {})["pre"].try(:gsub, "<br/>", "\r\n"), onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_tie_body_post, "Body (Conclusion)" %>
  <%= text_area_tag :email_contest_tie_body_post, @promotion_target.promotion.emails.fetch("contest_tie", {}).fetch("body", {})["post"].try(:gsub, "<br/>", "\r\n"), onchange: "validate();" %>
  <br/>
  <%= label_tag :email_contest_tie_action_button_label, "Button Label" %>
  <%= text_field_tag :email_contest_tie_action_button_label, (@promotion_target.promotion.emails.fetch("contest_tie", {}).fetch("action_button", {}) || {})["label"], onchange: "validate();" %>
  <br/>
  <%- 
    contest_tie_button_target_type = (@promotion_target.promotion.emails.fetch("contest_tie", {}).fetch("action_button", {}) || {})["target_type"]
    contest_tie_button_target_type = contest_tie_button_target_type.present? ? contest_tie_button_target_type : "my_contest"
  %>
  <%= label_tag :email_contest_tie_action_button_target_type, "Button Target" %>
  <%= radio_button_tag :email_contest_tie_action_button_target_type, :home, contest_tie_button_target_type.strip.downcase == "home", onchange: "validate();" %>
  <%= label_tag :email_contest_tie_action_button_target_type, "Home" %>
  &nbsp;
  <%= radio_button_tag :email_contest_tie_action_button_target_type, :my_contest, contest_tie_button_target_type.strip.downcase == "my_contest", onchange: "validate();" %>
  <%= label_tag :email_contest_tie_action_button_target_type, "My Contest" %>
  <br/>
  <br/>



  <em>Custom Contest (Tie) Push</em><br/>
  <%= check_box_tag :enable_contest_tie_push, :picked, @promotion_target.promotion.pushes.fetch("contest_tie", {}).fetch("enabled", true), onchange: "update_push_fields('contest_tie');" %>
  <%= label_tag :enable_contest_tie_push, "Enable (default will be sent if disabled)" %>
  <br/>
  <%= label_tag :push_contest_tie_push_message, "Message" %>
  <%= text_field_tag :push_contest_tie_push_message, @promotion_target.promotion.pushes.fetch("contest_tie", {})["message"], onchange: "validate();" %>
  <br/>
  <%- 
    contest_tie_button_target_type = (@promotion_target.promotion.pushes.fetch("contest_tie", {}) || {})["target_type"]
    contest_tie_button_target_type = contest_tie_button_target_type.present? ? contest_tie_button_target_type : "my_contest"
  %>
  <%= label_tag :push_contest_tie_link_target_type, "Link Target" %>
  <%= radio_button_tag :push_contest_tie_link_target_type, :home, contest_tie_button_target_type.strip.downcase == "home", onchange: "validate();" %>
  <%= label_tag :push_contest_tie_link_target_type, "Home" %>
  &nbsp;
  <%= radio_button_tag :push_contest_tie_link_target_type, :my_contest, contest_tie_button_target_type.strip.downcase == "my_contest", onchange: "validate();" %>
  <%= label_tag :push_contest_tie_link_target_type, "My Contest" %>
  <br/><br/>



  <%= submit_tag "Submit", id: "submitter" %>

<script type="text/javascript">
  // ***************************************************************************
  // ***************************************************************************
  // NOTE: Did a little bit of refactoring and moved some functions into files
  // as a bare minimum for organization... still not done though. Could also be done
  // better.
  // ***************************************************************************
  // ***************************************************************************
  var dailymvp = {
    promotion: {
      target: {
        persisted: <%= @promotion_target.persisted? %>,
        max: <%= @promotion_target.max || 1 %>
      }
    }
  }

  var balance;
  var buy_in;
  var unique_identifier; 
  var user_found;
  $(document).ready(function() {
    initialize();
    validate();
  });

  function initialize() {
    document.getElementById('submitter').setAttribute("disabled", "disabled");
    //document.getElementById('contest_template_id').setAttribute("disabled", "disabled");
    balance = 0;
  <%- if @promotion_target.persisted? %>
    buy_in = <%= @promotion_target.contest_template.buy_in["value"] %>;
  <%- end %>
    unique_identifier = true;
  

    user_lookup();


    if($("#game_id").val() != "" && $("#game_id").val() != null) {
      game_changed();
    }
    c_or_c_changed();
    init_prizes();
    skip_entry_changed();
    updateEmails();
  }


  function user_lookup() {
    $.getJSON( "/rapi_users/search?username=" + $("#username").val(), function(data) {
      if (data.username == undefined) {
        balance = 0;
        $("#user_id").val("");
        user_found = false;
        $("#username_output").text("User not found.");
      } else { 
        balance = data.balance;
        $("#user_id").val(data.id);
        user_found = true;
        $("#username_output").text("User found: " + data.username + " // Balance: $" + (parseFloat(data.balance) / 100).toFixed(2));
      }
      populate_entries();

      update_pending_promotion_availability();
      validate();
    });
  }

<%- if !@promotion_target.persisted? %>
  function promo_identifier_changed() {
    if($("#promo_identifier").val() != "") {
      $.getJSON( "/promotions/identifier_check?identifier=" + $("#promo_identifier").val(), function(data) {
        if (data.exists) {
          unique_identifier = false;
        } else {
          unique_identifier = true;
        }
        validate();
      });
    } else {
      validate(); 
    }
  }
<%- end %>


  function c_or_c_changed() {
    if($("input[name=c_or_c]:checked").val() == "challenge") {
      $("#challenge_config").show();
      $("#contest_config").hide();
      // set max stuff
      document.getElementById('max').setAttribute("min", 2);
      document.getElementById('max').setAttribute("max", null);
      document.getElementById('size').setAttribute("max", 2);
      if($("#max").val() < 2) {
        $("#max").val(2);  
      }
      // set size stuff
      $("#size").val(2);
    } else if($("input[name=c_or_c]:checked").val() == "contest") {
      $("#challenge_config").hide();
      $("#contest_config").show();
      // set max stuff
      document.getElementById('max').setAttribute("min", 1);
      document.getElementById('max').setAttribute("max", 1);
      document.getElementById('size').setAttribute("max", null);
      $("#max").val(1);
      // set size stuff
    }
    $("#max_output").empty();
    validate();
  }


  function game_changed() {
    $("#entries_sub_form").empty();

<%- if @promotion_target.persisted? %>
    event_set_changed();
<%- else %>
    if($("#game_id").val() != "") {

      $('#event_set_id').empty();
      document.getElementById('event_set_id').setAttribute("disabled", "disabled");
   
      $.getJSON( "/games/" + $("#game_id").val() + "/event_sets.json", function(data) {
        if (data.length == 0) {
          $("#game_output").text("No open event sets for this game.");
        } else {
          $("#game_output").text("");
          $('#event_set_id').append("<option value=\"\"></option>");
          $.each(data, function(index, option) {
            $('#event_set_id').append("<option value=\"" + option[0] + "\">" + option[1] + "</option>");
          });

          document.getElementById('event_set_id').removeAttribute("disabled");
          $("#event_set_id").val(<%= @promotion_target.contest_template.event_set.id %>);
          event_set_changed();
        }

        validate();
        reveal_prize_section();
      });
    } else {
      validate();
      $("#prize-table").hide();
    }
<%- end %>
  }

  function event_set_changed() {
    populate_entries();
    validate();
  }
 
  function populate_entries() {
    $("#entries_sub_form").empty();
    $("#entries_output").empty();
    if(user_found) {
  <%- if @promotion_target.entry.entry_items.present? %>
      entry_selections = {
    <%= @promotion_target.entry.entry_items.collect { |item| "#{item.slot_id}: #{item.event_participant_id}" }.join(",") %>
      }
  <%- end %>
      // todo validate balance yo
      // $("[id^='entry_item_label_']").remove();
      // $("[id^='entry_item_drop_']").remove();
      
    $("#entries_sub_form").empty();
      // update entry items
      if($("#event_set_id").val() != "") {
        if(!$("#skip_entry").prop("checked")) {
          $("#entry_select").show();
        }
        update_submit(false);
        //loading stuff UI

  <%- if !@promotion_target.persisted? %>
        document.getElementById('skip_entry').setAttribute("disabled", "disabled");
        document.getElementById('game_id').setAttribute("disabled", "disabled");
        document.getElementById('event_set_id').setAttribute("disabled", "disabled");
        document.getElementById('submitter').setAttribute("disabled", "disabled");
  <%- end %>
        $("#entries_output").text("Loading entry items...");
        $("#entries_output").append("<br/><br/>");
        $("#entries_output").css("color", "blue");
        $.getJSON( "/games/" + $("#game_id").val() + "/event_sets/" + $("#event_set_id").val() + "/event_participants.json", function(data) {

          missing_slot = false;
          $.each(data, function(index, slot) {
            if(slot.event_participants.length == 0) missing_slot = true;
          });
          if (missing_slot) {
            $("#es_output").text("Event participants are missing for this event set. Promotion can only be created as pending.");
            $("#skip_entry").prop("checked", true);
            skip_entry_changed();
          } else {
            $("#es_output").text("");
            $.each(data, function(index, slot) {

              var drop = $("#entry_item").clone();
              var label = $("#entry_item_label").clone();
              drop.attr("id", "entry_item_drop_" + index);
              label.attr("id", "entry_item_label_" + index);
              label.attr("for", "entry_item_drop_" + index);
              label.append(slot.display_name);

              $.each(slot.event_participants, function(index, event_participant) {
                drop.append("<option value=\"" + event_participant[1] + "\">" + event_participant[0] + "</option>");
              });

              $("#entries_sub_form").append(label);
              $("#entries_sub_form").append(drop);
              $("#entries_sub_form").append("<br/>");
              label.show();
              drop.show();

    <%- if @promotion_target.try(:entry).try(:entry_items).present? %>
              drop.val(entry_selections[index+1]);
    <%- end %>
              //$('#contest_template_id').append("<option value=\"" + option[1] + "\">" + option[0] + "</option>");
            });
          }
        }).always(function() {

<%- if !@promotion_target.persisted? %>
          update_pending_promotion_availability();
          document.getElementById('event_set_id').removeAttribute("disabled");
          document.getElementById('game_id').removeAttribute("disabled");
<%- end %>
          $("#entries_output").empty();
          validate();
        });
      } else {
        $("#entries_output").text("No Event Set Selected");
        $("#entries_output").append("<br/><br/>");
        $("#entries_output").css("color", "black");
      }
    } else {

      $("#entries_output").text("No User Selected");
      $("#entries_output").append("<br/><br/>");
      $("#entries_output").css("color", "black");
    }
  }

  function skip_entry_changed() {
    if($("#skip_entry").prop("checked")) {
      $("#activation_deadline").show();
      $("#entry_select").hide();
      $("#notifications_setup").show();
    } else {
      $("#activation_deadline").hide();
      $("#entry_select").show();
      $("#notifications_setup").hide();
    }
    validate();
  }

  function update_client_app() {
    $.ajax({
      url: '/client_apps',
      type: 'PUT',
      data: "client_app=" + $("#client_app").val(),
      success: function(data) {
        update_ui_for_client_app();
        user_lookup();
      }
    });
  }







// *****************************************************************************
// *****************************************************************************
// PRIZES
// *****************************************************************************
// *****************************************************************************

  function init_prizes() {

    // hide/show initially
<%- if !@promotion_target.persisted? %> 
    $("#prize-table").hide();
<%- else %>
    $("#prize-table").show();
<%- end %> 

    // allow options
    $(".prize_options").each(function() {
      update_prize_option($(this));
    });


    // prize types
    $("select[id=prize_table_options__prize_type]").each(function() { 
      prize_type_changed(this);
    });

    // hide/show delete buttons
    cleanup_prize_add_delete();

    // min/maxes
    update_prize_places();
  }

  function prize_type_changed(element) {
    if($(element).val() == "Other") {
      $(element).siblings(".text_value_label").show();
      $(element).siblings(".text_prize_value").show();
      // $(element).siblings(".dollar_prize_value").show();
      $(element).siblings(".dollar_value_label").text("Value");
      $(element).siblings(".text_value_label").css("color", "black");
      $(element).siblings(".text_prize_value").children().attr("disabled", null);
      $(element).siblings(".description_label").show();
      $(element).siblings(".description_value").show();
      $(element).siblings(".reward_identifer_label").show();
      $(element).siblings(".reward_identifer_value").show();
    } else if ($(element).val() == "Ticket") {
      $(element).siblings(".text_prize_value").hide();
      $(element).siblings(".text_value_label").hide();
      // $(element).siblings(".dollar_prize_value").show();
      $(element).siblings(".dollar_value_label").text("Value");
      $(element).siblings(".text_prize_value").children().val("");
      $(element).siblings(".text_value_label").css("color", "grey");
      $(element).siblings(".text_prize_value").children().attr("disabled", "disabled");
      $(element).siblings(".description_label").hide();
      $(element).siblings(".description_value").hide();
      $(element).siblings(".reward_identifer_label").hide();
      $(element).siblings(".reward_identifer_value").hide();
    } else if ($(element).val() == "Cash") {
      $(element).siblings(".text_prize_value").hide();
      $(element).siblings(".text_value_label").hide();
      // $(element).siblings(".dollar_prize_value").show();
      $(element).siblings(".dollar_value_label").text("Amount");
      $(element).siblings(".text_value_label").css("color", "grey");
      $(element).siblings(".text_prize_value").children().val("");
      $(element).siblings(".text_prize_value").children().attr("disabled", "disabled");
      $(element).siblings(".description_label").hide();
      $(element).siblings(".description_value").hide();
      $(element).siblings(".reward_identifer_label").hide();
      $(element).siblings(".reward_identifer_value").hide();
    }
  }
  
  // called when $ amount is changed
  function clear_prize_description(element) {
    var prize_row = $(element).parent().parent();
    var description = prize_row.children(".description_value").children("#prize_table_options__prize_description_override");
    reset_prize_description(description);
  }

  function reset_prize_description(description) {
    description.val('');
    description.attr("placeholder", "(will be generated)");
  }

  function add_prize() {
    // only add if last range is below current contest size
    // size = parseInt($("#size").val());
    // end = parseInt($("#prize_rows").children().last().children(".prize_range").children("#prize_table__end_place").val());

    prev_row = $(".prize_row").last()
    cloned_row = $(".prize_row").last().clone();

    // start place is based on prev row
    prev_end_place = parseInt(prev_row.children(".prize_range").children("#prize_table__end_place").val());
    cloned_row.children(".prize_range").children("#prize_table__start_place").val(prev_end_place+1);

    var description = cloned_row.children(".prize_options").children(".prize_option").children(".description_value").children("#prize_table_options__prize_description_override");
    reset_prize_description(description);


    cloned_row.appendTo($("#prize_rows"));


    prev_row.children(".prize_options").children().each(function(index) {
      selection = $(prev_row.children(".prize_options").children()[index]).children("#prize_table_options__prize_type").val();
      icon = $(prev_row.children(".prize_options").children()[index]).children("#prize_table_options__icon").val();
      $(cloned_row.children(".prize_options").children()[index]).children("#prize_table_options__prize_type").val(selection);
      $(cloned_row.children(".prize_options").children()[index]).children("#prize_table_options__icon").val(icon);
    });


    increment_prize_row_index(cloned_row);

    update_prize_places();
    cleanup_prize_add_delete();
  }

  function delete_prize(element) {
    $(element).parent().parent().parent().parent().remove();
    cleanup_prize_add_delete();

  }

  function add_prize_option(element) {
    container = $(element).parent().parent().parent();
    prev_type = $(element).parent().parent().children("#prize_table_options__prize_type").val();
    prev_icon =  $(element).parent().parent().children("#prize_table_options__icon").val();
    cloned = $(element).parent().parent().clone();
    cloned.appendTo($(element).parent().parent().parent());
    cloned.children("#prize_table_options__prize_type").val(prev_type);
    cloned.children("#prize_table_options__icon").val(prev_icon);


    increment_prize_row_index(cloned.parent());
    option_index = cloned.index();

    update_prize_option(container);
  }

  function delete_prize_option(element) {
    container = $(element).parent().parent().parent();
    $(element).parent().parent().remove();
    update_prize_option(container);
  }


  // assumed current object index is what my name should reflect
  function increment_prize_row_index(row) {
    row_index = row.index();
    row.children().each(function() {
      row_contents = $(this);
      row_contents.children().each(function() {
        element = $(this);
        if(element.attr("name")) {
          element.attr("name", element.attr("name").replace("prize_table[" + (row_index-1) + "]", "prize_table[" + (row_index) + "]"));
        }
        // go one level deeper
        element.children().each(function() {
          sub_element = $(this);
          if(sub_element.attr("name")) {
            sub_element.attr("name", sub_element.attr("name").replace("prize_table[" + (row_index-1) + "]", "prize_table[" + (row_index) + "]"));
          } 

          // go one level deeper
          sub_element.children().each(function() {
            sub_sub_element = $(this);
            if(sub_sub_element.attr("name")) {
              sub_sub_element.attr("name", sub_sub_element.attr("name").replace("prize_table[" + (row_index-1) + "]", "prize_table[" + (row_index) + "]"));
            } 
          });
        });
      });
    });
  }

  // allow/disallow deleting a prize option based on # of prize options
  function update_prize_option(options) {
    if(options.children().size() == 1) {
      options.children().first().children(".delete_prize_option").children().attr("onclick","alert('we should keep at least one prize around');");
    } else {
      options.children().children(".delete_prize_option").children().attr("onclick","delete_prize_option(this);");
    }
    cleanup_prize_add_delete();
  }

  function update_prize_places() {
    // max is the contest size
    $("input[id=prize_table__start_place]").attr("max",$("#size").val());
    $("input[id=prize_table__end_place]").attr("max",$("#size").val());

    // force start to be less than max
    $("input[id=prize_table__start_place]").each(function() {
      if(parseInt($(this).val()) > parseInt($("#size").val())) {
        $(this).val($("#size").val());
      }
    });


    $("input[id=prize_table__end_place]").each(function() {
      // force end place to not be smaller than the start
      if(parseInt($(this).val()) < $(this).parent().children("#prize_table__start_place").val()) { 
        $(this).val($(this).parent().children("#prize_table__start_place").val())
      }

      // force end place to be less than max
      if(parseInt($(this).val()) > parseInt($("#size").val())) {
        $(this).val($("#size").val());
      }
    });
    validate();
  }



  // allow/disallow deleting an entire prize row based on # of prize rows
  function cleanup_prize_add_delete() {
    if($(".prize_row").size() == 1) {
      $(".delete_prize").hide();
    } else {
      $(".delete_prize").show();
    }



    $(".prize_options").each(function() {
      row = $(this)
      row.children().each(function(index) {
        if(index == 0) {
          $(this).children(".delete_prize").show();
        } else {
          $(this).children(".delete_prize").hide();
        }
      });
    });


    validate();
  }

  function reveal_prize_section() {
    update_prize_places();    
<%- if !@promotion_target.persisted? %> 
    $("#prize-table").show();
<%- end %> 
  }




  function update_pending_promotion_availability() {
    if(user_found) {
      activate_pending_promotion();
    } else {
      disable_pending_promotion();
    }
  }

  function disable_pending_promotion() {
    <%- if !@promotion_target.persisted? || @promotion_target.promotion.is_pending %>
      document.getElementById('skip_entry').setAttribute("disabled", "disabled");
      document.getElementById('activation_deadline_time').setAttribute("disabled", "disabled");
      document.getElementById('email_contest_available_layout_configurable').setAttribute("disabled", "disabled");
      document.getElementById('email_contest_available_layout').setAttribute("disabled", "disabled");
      document.getElementById('email_contest_available_subject').setAttribute("disabled", "disabled");
      document.getElementById('email_contest_available_header_image_url').setAttribute("disabled", "disabled");
      document.getElementById('email_contest_available_header_color_code').setAttribute("disabled", "disabled");
      document.getElementById('email_contest_available_header_target_url').setAttribute("disabled", "disabled");
      document.getElementById('email_contest_available_body').setAttribute("disabled", "disabled");
      document.getElementById('notification_name').setAttribute("disabled", "disabled");
      document.getElementById('notification_description').setAttribute("disabled", "disabled");
      document.getElementById('notification_push_text').setAttribute("disabled", "disabled");
    <%- end %>
  }

  function activate_pending_promotion() {
    <%- if !@promotion_target.persisted? || @promotion_target.promotion.is_pending %>
      document.getElementById('skip_entry').removeAttribute("disabled");
      document.getElementById('activation_deadline_time').removeAttribute("disabled");
      document.getElementById('email_contest_available_layout_configurable').removeAttribute("disabled");
      document.getElementById('email_contest_available_layout').removeAttribute("disabled");
      document.getElementById('email_contest_available_subject').removeAttribute("disabled");
      document.getElementById('email_contest_available_header_image_url').removeAttribute("disabled");
      document.getElementById('email_contest_available_header_color_code').removeAttribute("disabled");
      document.getElementById('email_contest_available_header_target_url').removeAttribute("disabled");
      document.getElementById('email_contest_available_body').removeAttribute("disabled");
      document.getElementById('notification_name').removeAttribute("disabled");
      document.getElementById('notification_description').removeAttribute("disabled");
      document.getElementById('notification_push_text').removeAttribute("disabled");
    <%- end %>
  }




</script>

