
<%= link_to "Create Promotion", new_promotion_path %>


<br/>
<br/>
<table>
  <tr>
    <th>Name</th>
    <th>Identifier</th>
    <th>Sort Ranking</th>
    <th>Type</th>
    <th>State</th>
    <th>Lock Time</th>
    <th>Size</th>
    <th>&nbsp;</th>
  </tr>
<%- @promotions.each do |promotional_contest| %>
  <tr>
    <td>
      <%= promotional_contest["promotion"]["name"] %>
    </td>
    <td>
      <%= promotional_contest["promotion"]["identifier"] %>
    </td>
    <td>
      <%= promotional_contest["promotion"]["sort_ranking"] %>
    </td>
    <td>
      <%= promotional_contest["contest_type"] %>
    </td>
    <td>
      <%= promotional_contest["state"] %>
    </td>
    <td>
      <%= promotional_contest["contest_template"]["lock_time"].to_s %>
    </td>
    <td>
      <%- if promotional_contest["contest_type"] == "Challenge" %>
        <%= promotional_contest["num_accepted_contests"] %>/<%= promotional_contest["max"] %>
      <%- else %>
        <%= promotional_contest["num_entries"] %>/<%= promotional_contest["contest_template"]["size"]["value"] %>
      <%- end %>
    </td>
    <td>
      <%- if promotional_contest["state"] == "scheduled" %>
        <%= link_to "Edit", { controller: :promotions, action: :edit, id: promotional_contest["promotion"]["identifier"] } %>
      <%- end %>

      <%= link_to "Duplicate", { controller: :promotions, action: :new, id: promotional_contest["promotion"]["identifier"] } %>
    </td>
  </tr>
<%- end %>
</table>
