<!DOCTYPE html>
<html>
<head>
  <title>TopLine Game Labs: Administrative Edition</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="heading" style="padding: 18px 12px; margin: 0;">
  <div id="main_nav" style="float: left">
    1. <%= link_to "Landing Page", landing_pages_path %>
    &nbsp;
    2. <%= link_to "Promotion Group", promotion_groups_path %>
    &nbsp;
    3. <%= link_to "Promotion Group Scheduling", list_for_schedules_promotion_groups_path %>
    &nbsp;
    4. <%= link_to "Promotion", promotions_path %>
    &nbsp;
    Bonus: <%= link_to "Email List", rapi_users_csv_list_path(format: "csv") %>
    &nbsp;
    Bonus 2: <%= link_to "Contest Seeds", contest_seeds_path %>
    &nbsp;
    Bonus 3: <%= link_to "Metrics", metrics_path %>
    &nbsp;
    Bonus 4: <%= link_to "User Management", search_users_path %>


  </div>


  <div id="user_nav" style="float: right">
    <% if current_user %>
      <%= current_user.email %> | <%= link_to "Logout", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </div>

  <div id="client_app_nav" style="float: right">
    <%= label_tag :client_app, "Client" %>
    <%= select_tag :client_app, options_for_select(["dailymvp", "fannation"], @current_client_app), onchange: "update_client_app();", disabled: !@allow_client_app_selector %>
    &nbsp;
    &nbsp;
  </div>
  <div style="clear: both"></div>
</div>

<hr/>
<br/>

<%- if flash[:error] %>
  <div style="color: red;">
    <strong>Error! </strong>
    <%= flash[:error] %>
    <br/>
    <br/>
  </div>
<%- end %>
<%- if flash[:notice] %>
  <div style="color: green;">
    <strong>Hey! </strong>
    <%= flash[:notice] %>
    <br/>
    <br/>
  </div>
<%- end %>

<%= yield %>



</body>
</html>



<script type="text/javascript">
  $(document).ready(function() {
    update_ui_for_client_app();
  });
</script>
